{% extends 'base.html.twig' %}

{% block title %}Pages feuilletées{% endblock %}

{% block pageTitle %} Pages feuilletées ! {% endblock %}
{% block body %}


<main class="wrapper">

    <div class="articles-title-list">
        <h2>Chroniques réalisées en 1994 et 1995 sur Radio Eaux Vives Lozère,
            maintenant rattachée à RCF. <br> 
            En notes, les commentaires 2010.      
       </h2>
        <ul>

            {% for article in articles %}
            <li><a href="{{path('page-detail', {'id' : article.id})}}">
                <img src="{{asset('images/arrow.png')}}" width="40" alt="Flèche">
                {{article.name}}</a>
                 <br> <span> Par {{article.author}} </span>
            </li>
            {% endfor %}
        </ul>
    </div>

    <div class="">
        <img src="{{asset('images/branchesautomne.jpg')}}" alt="Image d'arbre" width="540">
    </div>

</main>


{% endblock %}
