{% extends 'base.html.twig' %}

{% block title %}{{poem.title}}{% endblock %}

{% block pageTitle %}{{poem.category}}{% endblock %}
{% block body %}

<hr>

<div class="home-descri poem-detail">  
    <img src="{{asset('images/poemes/the.jpg')}}" alt="">
    <hr>
    <h2>{{poem.title}}</h2>
    <p>
        {{poem.content|raw }}
    </p>

    <p>{{poem.publicationDate}}</p>
        
</div>


{% endblock %}
