{% extends 'base.html.twig' %}

{% block title %}{{poem.title}}{% endblock %}

{% block pageTitle %}{{poem.category}}{% endblock %}
{% block body %}


<main class="wrapper poem-detail">  
    <h2>{{poem.title}}</h2>
    <p>
        {{poem.content|raw }}
    </p>

    <p>{{poem.publicationDate}}</p>
        
</main>


{% endblock %}
