{% extends 'base.html.twig' %}

{% block title %}Pages feuilletées{% endblock %}

{% block pageTitle %} "A la recherche de Jean-Baptiste Rouvière".{% endblock %}
{% block body %}


<hr>

<div class="home-descri rouviere">
    
    <img src="{{asset('images/rouviere/arboles.jpg')}}" alt="Arbres" width="640">

    <p>
        Comment JBR est-il entré dans ma vie ? <br>
        J’ai oublié quel jour c’était. Fin octobre ? début novembre ? par là. Sa mort non plus, on ne sait pas le jour : fin octobre ? vers la Toussaint ? <br>
        Mais pas la même année. <br>
        Donc, aux environs de la Toussaint 2002, je lisais innocemment un vieux petit bouquin récupéré des années avant chez mes parents. Là aussi, oubli total : est-ce moi qui ai souhaité rapporter ce livre pour le lire ? pour le faire lire aux enfants ? ou est-ce ma mère qui me l’a refilé au cas où ? <br>
        Depuis quelque temps, ce livre,  Falla au bout du monde, du père Roger Buliard, missionnaire dans le Grand Nord, avait commencé à émerger du tas, de l’amas, du monceau, de la foule de livres qui remplissent notre maison. Je me disais qu’il pourrait intéresser Sylvain, qui aime les récits d’aventures,  Jules Verne et autres tours du monde. Mais le pôle nord ne m’inspirait pas. Finalement j’ai lu le livre, qui m’a aussitôt captivée. Mes parents avaient dû l’acheter il y a quarante ans lors d’une conférence, l’auteur étant originaire de leur région. 
    </p>

    <p>
        Le livre est court et vivant. Il y est question d’un père Rouvière, « Cévenol ardent et robuste », massacré par les Esquimaux en 1913, en compagnie d’un Breton. <br>
        A la même époque, je découvre avec émerveillement sur internet les dernières lettres de ste Thérèse de l’Enfant Jésus à deux jeunes missionnaires. Désirant savoir la suite de l’histoire (qu’étaient devenus les deux missionnaires pour qui la grande sainte avait tant prié ?) je cherchai à la bibliothèque diocésaine, où je trouvai quelques renseignements. Puis j’allai au Carmel, pensant que c’était l’endroit idéal qui pouvait répondre à ma question. La charmante prieure du Carmel me prêta deux livres assez complets sur la question, et tout en bavardant avec elle je me souvins qu’elle m’avait parlé d’un Lozérien actuellement missionnaire dans le Grand Nord, lui proposai de lui prêter mon Falla, et repartis avec deux livres sur ste Thérèse, plus trois livres sur les missionnaires du Grand Nord : <br>
        Inuk. Au dos de la terre, de Roger Buliard, dont Falla est une version abrégée et récente. 
    </p>

    <p>
        Et L’évêque des neiges, une biographie de Gabriel Breynat, évêque dont R. Buliard parle souvent. <br>
        Je les lis. J’étudie les cartes, je scrute les atlas, je cherche dans les dictionnaires. La passion s’installe. J’en parle à tout bout de champ aux enfants. <br>
        C’est ainsi que je découvris plus en détail Jean-Baptiste Rouvière, qui n’était pas Cévenol mais originaire d’Antrenas, près de Marvejols. <br>
        Il émergea peu à peu, lui aussi, du monceau de saints missionnaires qui l’ont précédé et surtout suivi dans ce pays désolé.
    </p>

    <p>
        Un matin, au milieu de la messe, j’eus une illumination : il faut que je demande à l’évêque de le faire canoniser ainsi que son compagnon breton ! Un Breton, évêque de Lozère, me paraissait tout indiqué pour s’occuper de cette noble tâche. Et puis le saint lozérien le plus récent, c’est le bx Urbain V, qui vivait au 14ème siècle ! Cette idée me donna des distractions pendant toute la messe (il est vrai que pendant la messe je suis souvent distraite par mille pensées). A peine revenue chez moi j’écrivis ma lettre à l’évêque et j’allai la poster. J’émettais le souhait que quelque chose soit réalisé d’ici 2113, centenaire du martyre, ne serait-ce qu’une BD pour enthousiasmer les jeunes, car je m’intéresse vivement à l’éducation et aux jeunes. Je parlai de mon projet à quelques personnes, dont aucune ne parut enthousiasmée, ni même intéressée. Mais sans me décourager je me mis à prier chaque jour saint Jean-Baptiste Rouvière et saint Guillaume Le Roux. <br>
        Je réalise ensuite que c’est l’évêque du Grand Nord qui peut s’occuper d’une cause de béatification, plutôt que l’évêque du lieu d’origine. <br>
        Peu à peu je me demande si je ne vais pas tout bêtement écrire une biographie. Un livre de plus ! Et pourquoi pas, après tout ? Les livres, c’est mon domaine.
    </p>

    <hr>

    <p>
    <span>  Décembre 2002: </span> <br>
        Je rencontre l’évêque avec trois personnes de l’ACAT. Avant de partir je lui demande ce qu’il a pensé de ma lettre, je dois lui rappeler de quoi il s’agit. Pour la canonisation il ne paraît pas convaincu car « le pape est fatigué ». Pour le livre, il est d’accord à condition que ce soit court, vivant et incitatif. OK, j’y vais ! <br>
        A la bibliothèque diocésaine je cherche de la doc sur Jean-Baptiste. Je finis par trouver deux pages et demie très intéressantes dans Lozériens connus ou à connaître, un dictionnaire qui regroupe des Lozériens de toutes époques. L’article sur Jean-Baptiste a été écrit par un historien nommé Patrick Cabanel. <br>
        Je trouve sur internet l’e-mail de l’archiviste de la congrégation, à Rome, je lui écris pour demander de la doc, je dis que je veux tout savoir sur JB, je demande pourquoi le projet de béatification a été abandonné. Il me répond qu’il est très occupé, qu’il m’écrira plus tard, qu’il va transmettre au postulateur ma demande, et qu’il se souvient avoir vu Mgr Fallaize en 1949 dire que le crime n’avait pas de causes religieuses. Quoi ? Pas religieuses ? Pourtant Patrick Cabanel affirme formellement le contraire. Mais Pierre Fallaize, quand même… Il doit le savoir… Il a succédé à Jean-Baptiste peu d’années après, chez les mêmes Esquimaux…Mais ce père archiviste a peut-être mal compris. <br>
        J’écris, par la poste, à l’évêque du Mackenzie, Mgr Denis Croteau, OMI, DD (que peut bien signifier DD ?). 
    </p>
    
    <img src="{{asset('images/rouviere/esquimau.jpg')}}" alt="Esquimau" width="400">

    
    <p>
        Je demande aux prêtres de la paroisse où je peux trouver des archives. Jacques Rodier me conseille de voir le père Sylvain Marcillac à la maison diocésaine. Ce père est un charmant petit vieux de 87 ans, enfoui dans son antre au milieu d’une montagne de papiers. Il m’ouvre une petite pièce pleine de boîtes : tous les registres de baptêmes, mariages et obsèques de toutes les paroisses de Lozère depuis le début du 19ème. Je lui demande Antrenas, 1881, 11 novembre. Je vois l’acte de baptême de Jean-Baptiste. C’est émouvant. Je le recopie. Le père me laisse me débrouiller, je passe plusieurs heures à passer en revue tous les registres d’Antrenas, de 1840 à nos jours. Je note tous les Rouvière, et il y en a ! <br>
        Des Jean-Baptiste Rouvière, il y en a des quantités : l’oncle et parrain, qui a eu 13 enfants, dont 2 sont arrivés à l’âge adulte et seulement 1 à la vieillesse. Cet oncle a eu en juin 1881 des jumeaux, Jean et Jean-Baptiste, morts peu après, mais pas ensemble, et chacun des deux est appelé Jean-Baptiste sur son acte de décès. 
    </p>
    
    <hr>

    <p>
        Jean-Baptiste, le mien, est le troisième de 13. Son père, Jean-Antoine, était charron, et sa mère, Rosalie Clavel, a eu des enfants pendant 20 ans. Je cherche trace du mariage des parents, le père Marcillac me fait remarquer que le mariage a eu lieu dans la paroisse de la fille. Mais où est née Rosalie ? <br>
        Quand je reviens chez moi, avec des pleines feuilles de Rouvière (d’Antrenas même, de La Bastide, de Fabrèges, du Monnet), les enfants sont depuis une heure (pour l’un), deux heures (pour l’autre) devant la porte sous la pluie. Je les avais oubliés ! <br>
        Je mets tout ça au propre : je fais la liste de tous les enfants de Jean-Antoine, et de tous les enfants de son frère Jean-Baptiste. Je passe des heures à essayer de m’y retrouver dans les oncles, les cousins, les grands-parents, les marraines et tous les Rouvière que je ne sais où rattacher et qui naissaient à foison et mouraient de même. <br>
        Je demande au père Marcillac l’adresse de Patrick Cabanel, l’historien qui a écrit sur Jean-Baptiste. Il est prof à la fac de Toulouse, c’est un protestant de St Julien d’Arpaon, très ami avec le père Marcillac. J’écris à ce monsieur pour lui demander ses sources et des conseils. 
    </p>

    <p>
        Quelques jours plus tard, je saute dans ma voiture en compagnie du chien et je prends la direction d’Antrenas. En passant à Marvejols, je fais halte dans une maison de retraite où on m’a indiqué une vieille dame de Fabrèges, que je cueille au moment où elle allait partir en promenade. Elle dit qu’elle ne sait rien, elle a connu un Rouvière  qui a perdu ses deux fils. Je la remercie et je continue mon pèlerinage.
        Antrenas. L’église est fermée. Sur le monument aux morts je vois que François, un des frères de Jean-Baptiste, a été tué en 1914 (né en 1889, il est donc mort à 25 ans). Pauvre Jean-Antoine, qui a perdu deux de ses fils en peu de temps, et sa fille Véronique en 1912 ! Heureusement Rosalie est morte avant eux, je ne sais pas quand (au mariage d’Apollonie en 1913 elle était déjà défunte). Je ne sais rien d’elle après la naissance de Félix en septembre 1899. A la guerre de 39-45 un Marius Rouvière est mort, sans doute un des deux cousins de Fabrèges, un de ceux dont me parlait la vieille dame. <br>
        A la mairie je me plonge dans les registres d’état civil, où je recueille encore une belle moisson d’informations. Catherine, la secrétaire de mairie, me donne deux adresses de personnes de la famille qui ont écrit à la mairie dans les années passées. Elle dit que des parents sont venus à Antrenas l’été dernier. En effet j’ai vu des pots de fleurs relativement récents sur la tombe familiale au cimetière. C’est une tombe sans dalle, avec une superbe croix en fer forgé : la Vierge est au centre. Un écriteau indique : « Famille Rouvière, La Bastide, de profundis ». <br>
    </p>

    <p>
        La nuit commence à tomber. Je me dirige vers La Bastide, je me perds dans Fabrèges, peut-être pour retarder le moment émouvant de voir ce lieu où il a vécu. La Bastide qui était le fin fond de la Lozère profonde est maintenant juste à côté d’une autoroute. C’est la première maison du hameau, une maison massive, austère, dont le côté donne sur la route. Je photographie la plaque qui a été posée en 1969. Ils ont trouvé moyen de se tromper dans la date de naissance : ils ont mis qu’il était né en 1879 ! Je contourne la maison, par un petit chemin plein d’herbes : au bout une barrière, je ramasse une pomme et je la mange, je passe par-dessus le mur et me voilà dans un pré, ce pré était-il à eux ? j’en doute, ils étaient pauvres…Je passe par-dessus un autre petit mur (je déchire un peu ma jupe) et me voilà dans le jardin de la maison. Je vois la façade de la maison, les portes et fenêtres sont fermés et un grand silence règne en ce lieu où tant de personnes ont vécu, tant de naissances et de morts dans cette maison, et maintenant rien. Devant la maison il y a des pommiers et une source qui murmure, Rosalie devait apprécier ce confort, et avant elle sa belle-mère Marie Anne, et pendant un temps sa belle-sœur Victoire, celle qui perdait tous ses enfants. Il fait de plus en plus sombre, je repasse par-dessus le mur, le chien me suit, nous retournons à la mairie, Catherine m’emmène voir le maire, M. Fontugne, qui habite à côté. Il est à la chasse, sa femme me reçoit sur le pas de la porte. Toutes les personnes que j’interroge me disent qu’elles ne savent rien mais en fait elles m’apprennent toutes quelque chose. J’apprends que pour l’inauguration de la plaque il y a eu une messe en plein air. Mais qui a fait poser cette plaque ? Elles ne savent pas. On me donne encore des noms de personnes à interroger. « Ah ! Si vous étiez venue il y a quelques années ! Il y avait Untel qui aurait pu vous renseigner… » Ben oui, c’est dommage, mais ça fait seulement un mois que je le connais, Jean-Baptiste… <br>
        « Et vous êtes qui, par rapport à la famille ? ». Madame Fontugne a du mal à comprendre qu’on puisse s’intéresser à autre chose qu’à sa famille. Pourtant elle-même est une étrangère à Antrenas, elle vient au moins de plusieurs kilomètres… Le maire arrive de la chasse et ne semble pas s’intéresser beaucoup à mon histoire. J’apprends que la famille Nègre, qui a acheté la maison Rouvière de La Bastide, a perdu tragiquement son fils peu après, il est tombé d’une échelle, un accident idiot. Quelle hécatombe décidément… Ces personnes viennent en été. C’est le mari de Catherine qui a fait les travaux de modernisation de la maison. <br>
        Vacances de Noël. Pendant presque deux semaines je ne vais pas pouvoir continuer mes recherches. Le 24 quand même en faisant mes achats de Noël je feuillette dans une librairie un livre sur l’histoire de la Lozère : Patrick Cabanel, encore lui, fait allusion à JB, qui a été oublié parce qu’il est mort au mauvais moment.
    </p>

    <hr>

    <p>
        <span>Janvier 2003:</span>
        Je reviens de vacances et je replonge dans la rouvièremanie. La lettre que j’avais envoyée à une descendante Rouvière me revient, la personne n’habite pas là. Je continue à lire des biographies d’Oblats, du 20ème mais tout ça peut me servir. Beaucoup de choses n’ont pas changé pendant tout ce temps, le climat, le caractère des Esquimaux, le courage et la générosité des Oblats, les persécutions des anglicans… <br>
        Je retourne aux archives, pour chercher où Rosalie a bien pu naître. D’après mes calculs elle a dû naître fin 1855 ou début 1856. Je cherche dans toutes les paroisses voisines d’Antrenas, aux périodes concernées. Je trouve des quantités de Rosalie et de Jean-Baptiste, mais pas de Rosalie Clavel. Elle est pourtant bien née quelque part ! Et sûrement pas très loin ! 
    </p>
    <p>
        Le père Marcillac m’apporte un document précieux qu’il a cherché pour moi et trouvé : l’article de La semaine religieuse annonçant la mort de Jean-Baptiste, et qui a paru en deux fois. Je demande au père si je peux avoir une photocopie, il m’envoie à l’économe, le père Gaston Delor, dont le bureau est juste en face du sien. Le père Delor me fait la photocopie. Pendant qu’on y est je lui demande aussi une photocopie de l’article de Patrick Cabanel. Nous nous mettons à causer, il me pose des questions sur mon projet et m’apprend qu’il a été le dernier curé d’Antrenas ! Oh ! qu’il m’intéresse ! Je sors un papier et un crayon et je l’interviewe.
    </p>

    <p>
        Il se souvient avoir vu à la paroisse d’Antrenas une mitre avec des fils d’argent que Gabriel Breynat avait envoyée à la famille Rouvière après la mort de Jean-Baptiste. Qu’est devenue cette mitre ? Il a aussi bien connu Félix, qu’il croyait un petit-neveu de Jean-Baptiste, mais je lui apprends que c’était son frère, le plus jeune, le treizième. Félix était un vieillard grand et maigre, qui avait fait la fin de la guerre de 14 (on voyait ses décorations dans la cuisine). Lui et sa femme étaient très pieux, et Gaston Delor leur portait la communion car ils ne pouvaient plus aller à l’église qui était loin de chez eux. Il me dit qu’autrefois, il y a quelques siècles, il y avait une église paroissiale à La Bastide, le cimetière était ce pré derrière la maison. Il m’indique des personnes à contacter : les Jamilloux qui savent l’adresse de la famille Nègre, et le père Joseph Salles d’Aumont-Aubrac, neveu de Mgr Trocellier le successeur de Mgr Breynat. Gaston Delor a visité Utopix et me demande déjà un exemplaire de mon livre pour les archives diocésaines. Doucement ! il n’est pas encore écrit ! Il me photocopie la liste des Oblats lozériens actuels, il y en a 8 (le 8ème est peut-être mort, il n’est pas sûr) avec leurs coordonnées.
    </p>
    <p>
        Le lendemain j’appelle Joseph Salles. La conversation dure une heure et quart. Depuis l’âge de six ans (il en a 76) il se passionne pour les missions esquimaudes, forcément avec deux oncles Oblats ! Lui-même a fait neuf mois de noviciat oblat mais la maladie l’a empêché de continuer. Il a été directeur de collèges catholiques au Canada et à Paris. Il apprécie peu les méthodes modernes, considère l’œcuménisme comme « un attrape-couillon » car un protestant lui a dit : « Dans les dialogues ce n’est jamais nous qui faisons des concessions ». Il me promet de chercher dans ses affaires s’il me retrouve le livre de Mgr Breynat, qui dit notamment, paraît-il, que Sinnisiak et Oulouksak n’ont tué les pères que pour leur voler leur fusil. Dans ce livre il y a la photo des deux héros : Guillaume a une tête ronde et une coiffure à la Titus, Jean-Baptiste beaucoup de barbe et de cheveux. Le père Salles dit que le père Franche aussi a été assassiné par un Esquimau, vers 1975 ou même plus récemment. Nous évoquons ensemble avec ravissement quelques noms exotiques de tribus indiennes ou de lieux, les Peaux-de-Lièvres, les Plats-côtés-de-chiens, les Cris, les Esclaves, les Loucheux. Il s’étonne que je sache déjà tout ça. S’il ne retrouve pas le livre de Breynat, je pourrai peut-être le trouver à la maison diocésaine. Je repense avec horreur que Gaston Delor, hier, m’a dit qu’il venait d’envoyer un demi-camion de vieux livres à la brocante Yvonne Malzac à Langlade. Enfin au pire je peux toujours aller fouiller à Langlade.
    </p>
    <p>
        Je retourne à la maison diocésaine demander au père Marcillac un détail tout bête mais important : la date de l’article de La semaine religieuse. Mai 1918. C’est sûr qu’à ce moment-là les gens avaient autre chose à penser, l’hécatombe était sans commune mesure. Gaston Delor n’est pas là, je ne peux pas lui demander pour le camion de livres et Aux glaces polaires, ni lui montrer sur la carte du Canada où est le lac Rouvière, juste en-dessous du lac Dismal. J’ai acheté cette carte à Biarritz pendant les vacances, ainsi qu’un livre de Jean Malaurie sur les Esquimaux. <br>
        Je descends à la bibli diocésaine et je me plonge dans les vieux numéros de La Croix de la Lozère, l’ancêtre de La Lozère nouvelle. Je trouve en avril et mai 1918 l’article en question, un peu plus détaillé et découpé en quatre épisodes. J’apprends que JB a été de 1895 à 1900 au petit séminaire de Marvejols, puis au noviciat de Notre-Dame de l’Osier dans l’Isère, avant d’être ordonné prêtre en juillet 1906 à Liège. Le personnage émerge de plus en plus de l’ombre. 
    </p>

    <figure>
        <img src="{{asset('images/rouviere/girl.jpg')}}" alt="Jeune fille" width="400">    
        <figcaption>La petite esquimaude est habillée avec la soutane de JBR, cartoutes les affaires des missionnaires ont été récupérées par la tribu.</figcaption>
    </figure>

    <p>
        Pendant que je suis dans les journaux, je cherche trace de l’inauguration de la plaque sur la maison. Je commence à chercher début 1969, puis je me souviens qu’il y a eu une messe en plein air et je passe au mois de mai. Et je trouve dans le journal du 29 août : la plaque a été inaugurée le 17 août à l’initiative de ses frères Augustin et Félix, la messe a été concélébrée dans la cour du préventorium,  un chanoine de Marvejols a fait l’homélie (que j’aimerais avoir) et le maire d’Antrenas, le docteur de Framond, a fait un beau discours que le journal reproduit et que je copie. J’apprends, ce qui ne me surprend pas, que Jean-Baptiste a vécu dans ce coin tranquille une enfance heureuse dans une famille profondément chrétienne. <br>
        Je reçois un e-mail de Patrick Cabanel, très intéressé par mon projet. Il me conseille d’aller à Rome étudier les archives, et éventuellement à Paris ou Lyon, et de lire sa thèse où il étudie les vocations religieuses en Lozère autrefois. Je fonce chez le père Marcillac qui me sort trois énormes bouquins, le premier tome ne concerne pas mon sujet, j’attaque le 2 et j’y passe trois heures. <br>
        J’écris au père Louis Fournier, le seul Oblat lozérien qui soit encore dans le Grand Nord, sur le cercle polaire à Repulse Bay. Sœur Fernande dit qu’il a un peu oublié le français. Il a 79 ans. Je lui demande notamment ce que signifient Kouliavik et Ilogoak. 
    </p>
    <p>
        Dès que je peux, je retourne aux archives, j’arrive à 11 heures et demie, je cause un peu avec le père Delor (les livres débarrassés étaient des manuels scolaires sans intérêt. Il va chercher mon Breynat. Je lui explique où est le lac Rouvière). Je me replonge vers midi moins le quart dans Cabanel, j’en sors à 6 heures. J’ai fini. Bien sûr j’ai lu certains passages en diagonale. Mais même ce qui ne rentre pas dans mon sujet est intéressant. J’ai pris plein de notes. A un moment, le père Marcillac vient me montrer sa photo de classe de première, et son carnet de notes (plutôt bonnes) avec les appréciations élogieuses des professeurs. C’est mignon. Je vois qu’il est né le 12 juillet comme ma fille, et en plus il porte le prénom de mon fils. 
    </p>

    <p>
        Le lendemain à la bibli diocésaine je finis de copier le discours du Dr de Framond et je trouve en mars 1982 l’avis de décès de Félix. J’apprends qu’il était à la SNCF. Je décide de revenir avec les dates de décès des autres frères et sœurs, pour tâcher d’en apprendre un peu plus sur eux. En fait, je trouve seulement mention du décès d’Augustin en 1972, mais sans son métier ni allusion à son illustre frère. <br>
        Je téléphone aux Jamilloux, qui vont me chercher l’adresse des Nègre. Eux aussi m’indiquent une famille voisine de La Bastide. J’ai maintenant une quantité de pistes ! Mon enquête est facile ! Je me perds un peu dans tout ça, en fait il faudrait que j’appelle les gens dès qu’on m’en parle mais la timidité, le manque de temps et un certain désordre dans mes papiers me font perdre un peu de temps. Mais après tout, il n’y a pas le feu. J’ai quand même avancé vite. <br>
        Maintenant je voudrais des informations sur le petit séminaire de Marvejols de 1895 à 1900. Le père Marcillac me conseille de leur demander, c’est maintenant le collège Notre-Dame. <br>
        Je voudrais aussi savoir ce que mon héros a fait de 1907 à 1911 à Good Hope chez les Indiens Peaux-de–Lièvres. Tout le détail doit être dans son journal de bord, les codex qui doivent être aux archives de la congrégation. Décidément il faut que j’aille à Rome ! Comment financer ça ? Sœur Fernande pense que je peux demander à Jacques Blanc. Mon amie Yolande me conseille de demander à Gaston Delor, l’économe diocésain. Oui, le département et le diocèse peuvent m’aider puisque je travaille pour leur gloire. Surtout « pour la gloire de Dieu et le salut des âmes » mais la gloire (en supposant qu’il y en ait) rejaillira sur la Lozère et sur l’Eglise. <br>
    </p>

    <p>
        Les Jamilloux me donnent l’adresse des Nègre, en Touraine,  et me conseillent  de m’adresser au notaire de Marvejols. J’écris donc à tous ces gens, et à deux autres adresses de descendantes indiquées par la mairie d’Antrenas. <br>
        Les informations arrivent ! Le notaire  m’envoie copie de l’acte de vente de la maison, que les Nègre ont achetée en 1984. J’y trouve les noms et adresses des deux filles de Félix, la superficie de la propriété, et divers autres renseignements. Pour l’origine de la propriété, il y a visiblement confusion entre Jean Rouvière et Jean-Antoine Rouvière, le grand-père et le père. Décidément ! dans l’acte de décès de Félix, la mère était confondue avec la grand-mère ! Elle était désignée sous les prénoms de Marie Anne, sa belle-mère ! Que même des documents aussi stricts et officiels que l’état civil ou des actes notariés fassent des erreurs,  cela prouve peut-être que ces Rouvière sont des gens bien discrets… Jean-Baptiste par exemple, on ne sait pas où est sa tête… Ou alors ça prouve que les choses humaines ne sont pas fiables, et notre saint dira-t-il le contraire ?
    </p>

    <p>
        J’appelle les Oblats de Paris : je note avec joie les nombreux renseignements que me donne le Père. Après un an de noviciat JB a prononcé ses premiers vœux en 1901, ses vœux perpétuels en 1903 (il a dû avoir une dispense car normalement c’est trois ans). Ensuite il a fait cinq ans de grand séminaire à Liège jusqu’à son ordination (les archives de Liège sont à Rome). Il n’a donc pas fait de service militaire. Les religieux expulsés étaient déchus de la nationalité française. La France ne s’est souvenue d’eux qu’en 1914 pour les convoquer à la guerre…Toutes les archives de France sont maintenant à Marseille. Sur JB s’il y a des documents en France, c’est tout au plus quelques lettres écrites après la traversée au provincial de France comme c’était l’usage, mais en 1906 il n’y avait plus de province de France puisque toutes les congrégations venaient d’être expulsées. Les archives de ND de l’Osier ont brûlé en 1940, la nuit de Noël, sauf celles qui ont été transférées à Rome en 1903-1904. Les codex de Good Hope, s’ils existent encore, sont peut-être au Canada, ainsi que les comptes-rendus des deux procès. Mais si la congrégation a eu l’intention d’introduire la cause (et il semble qu’elle en ait eu l’intention) tout ce qui concerne JB doit être à Rome regroupé dans un dossier. Mon voyage à Rome semble de plus en plus inéluctable et je pose des questions concrètes : les Oblats de Rome peuvent me loger s’il y a de la place (éviter les périodes de congrès). Pour consulter certaines archives privées il faut obtenir l’autorisation de l’archiviste. Celui avec qui j’ai échangé des e-mails, le père Aloysius Kedl, est un Canadien francophone, mais un peu distrait, il vaut mieux lui téléphoner qu’attendre une réponse aux courriers. Il est en train d’être remplacé par un Polonais mais il est à Rome jusque fin février.
    </p>

    <p>
        Ma prochaine cible : le petit séminaire de Marvejols, alias collège Notre-Dame. Et les archives départementales. Là-dedans je devrais encore faire une chasse fructueuse. <br>
        Un ami érudit, Jacques V., me donne des tuyaux précieux sur les Archives départementales, j’ai hâte d’y être. Munie de ses explications, je devrais pouvoir trouver Rosalie. Les enfants d’Antrenas allaient peut-être à l’école à Marvejols, à pied. La commune était trop petite pour avoir deux écoles, donc comme il y avait une école publique, il n’y avait pas d’école privée. Les Rouvière étant très pieux préféraient sûrement le privé. Il y avait aussi une école au Monnet, pas loin de La Bastide. <br>
        Aux archives je pourrai trouver tout ce qui a pu avoir lieu à Antrenas dans la période qui m’intéresse. <br>
        Coup de théâtre ! Christiane Jodar m’appelle. Elle a reçu ma lettre. Elle est la fille de Jean-Pierre Rouvière. Elle a vécu à La Bastide pendant la guerre chez son oncle Augustin, et là j’apprends avec stupéfaction que JB n’est pas né dans la maison que j’ai vue, celle avec la plaque. Cette maison-là a été construite par Augustin. JB est né en face, dans une vieille maison que Christiane a connue en ruines mais qui depuis a été vendue et restaurée. Ca paraissait trop simple, aussi, qu’il y ait une seule maison natale… 
    </p>

    <p>
        Ce ne sont pas les fils du cousin Urbain de Fabrèges, ce sont les deux fils d’Augustin (Marius et Jules) qui sont morts à la guerre de 40. Jules n’est pas sur le monument aux morts car il est mort peu après la guerre, des suites. Christiane allait à l’école au Monnet, avec un voisin qu’elle me conseille d’interroger. Augustin a transmis à sa nièce tout ce qu’il possédait sur JB : trois livres (Dans l’épouvante du Grand Nord, de Croidys,  Martyrs des neiges, que j’ai, et Le secret des igloos, d’Aimé Roche).Dans le livre d’Aimé Roche il y a la photo de JB, celle de Guillaume, et celle d’un des assassins. Elle a une image avec la date de sa première messe : 24-25 février 1906. Pourquoi ce vieux journal de Lozère que j’ai vu disait-il qu’il avait été ordonné en juillet ? Mystère et boule de gomme. Ca s’éclaircira aussi. Décidément, les choses humaines ne sont pas très fiables. Et enfin elle a un article de journal publié pour les 25 ans de sa mort (donc vers 1938 logiquement). Elle va m’envoyer photocopie de l’article et de l’image. Pour les livres je devrais les trouver, Aimé Roche doit se trouver facilement en Lozère, Croidys je ne sais pas mais je réussirai bien à mettre la main dessus. Augustin a travaillé à Paris comme tous les Lozériens de l’époque (charbon et bistrot). C’est tout, il n’y a pas de lettres, pas de traditions orales, Christiane ne sait même pas que sa grand-mère s’appelait Rosalie, elle a demandé à la mairie d’Antrenas les renseignements pour reconstituer sa famille et on lui a dit que la grand-mère s’appelait Marie Anne, comme sur l’acte de décès de Félix. Christiane a l’air très gentille, son mari intervient aussi dans la conversation. <br>
        Gaston Delor n’a pas trouvé le bouquin de Breynat. Je lui demande si je peux chercher moi-même, mais apparemment ce n’est pas la peine, c’est une bibliothèque de grand séminaire qui se compose surtout de livres de théologie en latin. Il vaut mieux chercher dans les bibliothèques de petits séminaires (Marvejols, Langogne, Mende) certainement plus riches en récits missionnaires propres à enthousiasmer les jeunes garçons. <br>
        Donc récapitulons : les archives départementales ; le collège Notre-Dame à Marvejols ; le lycée Notre-Dame à Mende ; trouver des informations sur cette autre maison qui cette fois est la bonne ; retrouver la mitre, qui d’après Gaston doit de trouver au presbytère de Marvejols (je viens d’apprendre que le presbytère d’Antrenas a été rénové en 2000 donc les vieilles choses n’y sont plus) ; faire des photos ;  préparer mon voyage à Rome ; j’en oublie sûrement mais ça suffira pour l’instant. Et je vais encore avoir des réponses à toutes mes lettres. 
    </p>

    <p>
        Revenons à Gaston : je lui demande aussi de financer mon voyage à Rome. Il paraît un peu surpris, me dit qu’il faut faire une lettre avant la prochaine réunion le 14 février, on ne lui a jamais demandé ça, et qui aurait cru qu’on ressusciterait un jour le père Rouvière ? Je n’ai pas la prétention de le ressusciter ! Je lui dis qu’il paraît que ce sont les saints qui nous choisissent, et que je vais demander aussi des sous à Jacques Blanc pour la publication. <br>
        Je reçois de Christiane un paquet de photocopies : les photos de Le Roux, Sinnisiak, et…Rouvière ! Le voilà donc enfin, ce cher homme. Je le voyais plus beau que ça. Dégarni, austère, il fait plus que 32 ans, et encore la photo doit dater d’avant. Les deux autres sont plus mignons. Enfin ce n’est pas grave. Il y a aussi des extraits de naissance et décès. Attention, encore un scoop, Rosalie est née…à Chirac. Son avis de décès (en 1904, à Antrenas !!!) l’appelle Marie Anne, et lui attribue 54 ans. Ouais…si son lieu de naissance est aussi exact que les autres renseignements, je ne vais pas la trouver si facilement. Et effectivement, aux archives diocésaines je cherche sa naissance de 1853 à 1857, rien. Pas de mariage non plus à Chirac en 1878, ni en 1879, ni en 1877. 54 ans en 1904, elle n’a quand même pas eu Félix à 49 ans ! Elle a dû naître après 1857, ou alors pas à Chirac, ou les deux. En sortant de la maison diocésaine, je tombe sur Jean-Claude, le journaliste de la radio. Je lui raconte mon histoire, qui l’intéresse, forcément, les journalistes s’intéressent à tout ce qui se passe. Je ne devrais peut-être pas trop en parler à l’avance ? <br>
        Christiane m’envoie aussi l’image d’ordination, dont je vais lui demander une autre photocopie, car celle-ci est toute noire et presque illisible. Et l’article du P. Duchaussois que cite Cabanel et qui précisément faisait partie des documents que je voulais trouver. Il m’apporte de précieux éclairages sur les événements. 
    </p>

    <p>
        Je découvre les archives départementales. Il y a tout un rituel à respecter pour pouvoir consulter les documents. J’apprends tout sur l’histoire, plutôt marrante, des écoles d’Antrenas. Je finis par trouver des renseignements sur Rosalie, qui dans certains actes s’appelle Marianne, d’où la difficulté à s’y retrouver. En plus ils ont dû l’oublier dans les registres de baptême, car il semble bien qu’elle soit née en 1854 à Chirac. Elle est donc morte à 50 ans. <br>
        J’envoie à Christiane Jodar quelques arbres généalogiques qui pourront lui servir et je lui demande (un peu gonflée) une photocopie plus claire de l’image d’ordination. Elle m’envoie un superbe agrandissement en couleurs. <br>
        M. Nègre, le propriétaire de la maison de La Bastide, m’écrit qu’il y sera fin mai et en juillet, et que dans la maison il y a une malle de voyage, un missel, un chapelet. Les siens ?
    </p>

    <hr>

    <p><span>Février 2003:</span>
        Je me renseigne sur le prix et les horaires de train pour Rome. J’écris au père Kedl pour savoir exactement ce qu’il a comme doc sur JB. Et nouveau changement de programme : il a peu de choses (une belle liste quand même), il va m’envoyer des photocopies et donc je ne vais pas à Rome. L’ennui, c’est que, si ce n’est pas à Rome, c’est au Canada, et là c’est un peu loin pour y aller. Tant pis, je demanderai aussi des photocopies. De toute façon ce sera moins cher qu’un voyage, et si c’est un peu cher en frais postaux je demanderai tout de même quelques subventions peut-être ? <br>
        Aux archives départementales je découvre plein d’informations sur Antrenas, et je glane quelques menus détails dans diverses encyclopédies, atlas, revues et autres. <br>
        Jean-Claude, le journaliste de la radio, m’appelle pour m’interviewer pendant dix minutes. Ca passera dans l’émission Eglise vivante.
    </p>

    <p>
        En cherchant dans la Semaine religieuse de Mende des articles d’Etienne Bonnald, Oblat lozérien du 19ème, je tombe, ô joie imprévue, sur les résultats des compositions des petits séminaires de Mende et de Marvejols. Du coup, je recense passionnément, dans les n° de 1895 à 1900, toutes les places de premier et de second de mon petit Jean-Baptiste. Chaque fois que j’en trouve, je suis fière comme si c’était mon fils. La première année il n’est pas mentionné, la deuxième il est premier en instruction religieuse, l’année suivante un peu plus, bref visiblement il a bossé dur, Jean-Baptiste, pour passer de l’état de petit paysan pauvre à celui de bon élève. La dernière année, en rhétorique, il est cité presque à chaque composition, et encore il manque des numéros de la revue. Brave petit ! Le jour de la distribution des prix 1899 (il était en seconde), c’est justement le jour où le bébé de sa sœur Anna est mort. Sa famille n’est sûrement pas venue à la fête, d’autant plus que Rosalie était enceinte de 7 mois, de son 13ème enfant. Oui, c’est dur la vie. Se marier pour souffrir autant, voir mourir ses enfants, survivre péniblement, non, pas de regret à avoir. Qu’il est plus enthousiasmant de devenir prêtre du Seigneur, pour porter la bonne nouvelle aux plus pauvres, là-bas dans le Grand Nord où le père Bonnald fait tant de bien, dans cet immense pays où un garçon intelligent, généreux et intrépide pourra déployer ses ailes.
    </p>

    <p>
        J’écrirai le livre à la première personne. <br>
        Louis Fournier me répond du cercle arctique : il ne sait rien, il me remercie de ce que je fais pour son compatriote et me donne l’adresse d’un Oblat savoyard de Fort Rae. Il oublie de répondre à ma question, la traduction de Kouliavik et Ilogoak, pourtant il sait l’esquimau.
    </p>

    <p>
        Le 15 février, en revenant de la manif pour la paix, je trouve deux paquets de Rome. Merci Aloysius !!! Je commence illico à lire. Il y a l’écriture de Jean-Baptiste, il y a une fausse piste, il y a trente-six articles sur sa mort qui se recopient tous les uns les autres mais à chaque fois des détails différents à glaner, il faut tout passer au tamis comme les chercheurs d’or. Il y a la photo de Sinnisiak que je connais déjà, et celle d’Oulouksak… <br>
        Depuis quelque temps j’ai commencé à mettre mes notes au propre sur ordinateur mais j’en ai vraiment beaucoup et ça s’accumule toujours. <br>
        Mes fichiers d’ordinateur se remplissent, il y a Eglise de Lozère, Oblats Lozériens, Vie de JBR, Grand Nord. Je me rends compte que cette entreprise où je me suis lancée est longue, je ne suis pas sûre de finir cette année, certains chercheurs passent des années sur leur sujet mais je ne vais pas y passer ma vie non plus. Je lis les documents d’Aloysius complètement dans le désordre, mais au total je finirai par m’y retrouver. Je commence à pouvoir établir une chronologie. Dans la brochure en italien je découvre avec joie une deuxième photo de mes deux petits gars. JB est plus jeune, sans barbe, mais toujours aussi austère. Il avait certainement toutes les vertus, mais peu d’humour. Enfin sait-on jamais ? En tout cas il avait de la sensibilité. J’aimerais avoir une analyse graphologique.
    </p>

    <p>
        Le curé d’Antrenas écrivait en 1938 à la congrégation que d’après le registre de baptême sa mère s’appelait Rosalie. Mais où a-t-il vu ce registre ? Je me demande si elle est vraiment née à Chirac, en tout cas pas en 1854 car j’ai passé le registre au peigne fin et je n’ai rien vu. <br>
        L’enquête de l’inspecteur La Nauze a l’air passionnante. Mais c’est toujours pareil : d’un document à l’autre il y a des divergences, ils en rajoutent, ils en suppriment, les dates diffèrent, les interprétations partent dans tous les sens, et je ne sais toujours pas où et quand est née Rosalie, ni ce que faisait JB entre avril 1906 et son arrivée à Good Hope en 1907… <br>
        Mon interview est passée deux fois à la radio, mais pas à des heures de grande écoute, je ne sais pas si ça m’amènera de nouveaux documents ou renseignements. <br>
        Aloysius m’annonce l’envoi de nouveaux documents sur la période ND de l’Osier et Liège.
    </p>

    <p>
        Pour les livres, j’ai demandé à Claude, directeur du lycée ND, ex-petit séminaire de Mende. Claude m’a envoyée au CDI. La documentaliste m’a dit de demander au secrétariat la clé du grenier. Les secrétaires ont appelé au téléphone l’économe, qui m’a dit que les vieux livres sont au fond d’une pièce avec plein de vieux meubles devant, donc inaccessibles, et il m’a conseillé de demander à JM Forestier, ancien directeur, ou à Louis Pons, ancien économe, si les livres que je cherche ont une chance d’être là. A la maison diocésaine JM Forestier était absent, on m’a donné le téléphone de L Pons qui était aussi absent quand je l’ai appelé. J’hésite entre le rappeler ou aller direct à Marvejols, ce qui serait plus simple. Paul Bonnefoy me confirme que ce genre de livres existait au petit séminaire de Marvejols pendant la guerre, on leur en lisait pendant les repas. Ils y sont donc peut-être encore. Il faut demander le père Saint-Jean. <br>
        Si je commence à travailler en mars, il faut que je mette les bouchées doubles pendant que j’ai plein de temps libre. Il faut que je m’organise pour aller à Antrenas quand les routes sont bonnes, par temps clair pour les photos, le deuxième dimanche du mois pour assister à une messe à l’église d’Antrenas tant fréquentée par la famille Rouvière, et un lundi matin ou jeudi après-midi pour retourner à la mairie. Plus prendre rendez-vous avec les gens que je veux rencontrer, vieilles personnes de Fabrèges et environs, curé de Marvejols pour fouiller dans son grenier à la recherche de la mitre perdue, explorer les archives du petit séminaire, et j’en oublie sûrement. En plus, fin mai j’irai voir la famille Nègre et la maison, et il faut encore que je mette la main sur les propriétaires présents, passés et autres, de cette autre maison où il est né. Tout ça pour Marvejols/Antrenas. Et il y a des gens qui s’ennuient ! <br>
        Pour Mende, il faudrait bien que j’aille demander au père Gély, qui sait tout et qui a 3000 livres. Bon. Ca suffira pour aujourd’hui.
    </p>

    <p>
        Et je n’ai toujours pas eu de réponse de Denis Croteau évêque de Mackenzie, il faut que je le relance, ma lettre s’est peut-être perdue. Il me faut le codex de Good Hope et bien d’autres choses qu’ils doivent avoir. <br>
        Il faut encore que je persuade le postulateur de faire quelque chose. <br>
        Et puis il faudra que je me renseigne pour un éditeur. Un éditeur lozérien comme le Bonalbert ? Un éditeur régional ? Je ne suis pas ambitieuse au point de vouloir conquérir la France, mais sait-on jamais ? Il faut que je demande conseil à des gens sages et compétents.
    </p>

    <p>
        L’avantage d’être noyée dans les papiers, c’est qu’on se fait des bonnes surprises. Je viens seulement d’exhumer du tas la petite merveille dont je rêvais depuis longtemps : l’article paru en 1913 sur les Esquimaux et écrit par JBR soi-même. Je n’avais pas encore vu que je l’avais ! Il est génial ! Jean-Baptiste, décidément je t’adore (je m’excuse pour le terme). Ce n’est pas du tout la description géographique sérieuse que le titre austère semblait annoncer (Rapport sur les Esquimaux du Mackenzie), c’est le récit de son envoi en mission par Breynat (plutôt émouvant), de son voyage (plutôt pittoresque), de sa rencontre avec les fameux Esquimaux (plutôt marrante et sympa), pour finir par une touchante prière. Mais quel cœur il avait, ce Jean-Baptiste ! Il n’a pas honte de dire qu’il a pleuré de quitter ses frères de Good Hope. Mais une fois parti, il avait hâte d’être sur le terrain. Quelle générosité, quelle passion, quelle sensibilité dépourvue d’égoïsme, quelle humanité, ils sont tous comme ça chez les Oblats ou bien c’est seulement lui ? Et en plus, bon chasseur, bon pêcheur, bon charpentier, parlant une quantité de langues (occitan, français, latin, grec, allemand, anglais, peau-de-lièvre, esquimau, ça fait 8), et en plus (contrairement à ce que je croyais) il ne manque pas d’humour. <br>
        J’ai remercié Aloysius de son deuxième envoi (avec encore un beau timbre du Vatican) et je lui ai suggéré de proposer au postulateur de canoniser tout un lot de pionniers OMI. <br>
        Mes notes continuent de prendre forme, ça évolue constamment. J’ai rajouté la catégorie Portrait de JB.
    </p>

    <p>
        <span>  Mars 2003 </span>
         J’ai écrit à Anna Le Roux à Plomodiern. J’ai envoyé à Christiane copie de la lettre de JB de 1906, de la lettre du curé de 1938, de l’acte de baptême de son père Jean-Pierre, et je ne sais quoi encore. <br>
        J’ai lu avec intérêt le rapport de police de l’inspecteur La Nauze, qui ressemble plus à Dersou Ouzala qu’à un document administratif. Je rêve de transformer ça en BD pour les gamins. Mais pourquoi La Nauze à aucun moment ne manifeste-t-il de sympathie pour les prêtres perdus, pas un mot, pas un soupir ? Et pourquoi Sinnisiak parle-t-il toujours d’Ilogoak (Le Roux) et ne prononce-t-il jamais le nom de Kouliavik (Rouvière) ? Et a-t-on étudié la psychologie de Sinnisiak, qui visiblement était quelqu’un de perturbé ?
    </p>

    <p>
        La secrétaire de Mgr Croteau me répond qu’il ne sait rien et qu’il faut demander à quelqu’un d’autre. C’est lassant à la fin ce jeu de piste. <br>
        Le mari de la cousine d’Anna Le Roux m’envoie l’acte de naissance de Guillaume et un article paru sur lui autrefois. Je le remercie en lui posant d’autres questions. <br>
        Aloysius m’envoie des listes : les élèves et prêtres de Liège en 1904, une lettre de Nouvel An 1901 au Supérieur signée par tous les novices. Chaque document éclaire un peu plus le paysage. Je lui demande la liste des novices (car les signatures ne sont pas très déchiffrables), il me l’envoie. Ils étaient 21, le 31 décembre 1900. <br>
        J’envoie à l’archiviste de Liège une tonne de questions.
    </p>

    <p>
        Avec les beaux jours j’ai repris l’enquête sur le terrain. Je téléphone au collège Notre-Dame, l’ancien directeur me donne rendez-vous pour le surlendemain, il me dit qu’il a chez lui une personne d’Antrenas, Paulette Belot, avec qui je cause un bon moment au téléphone. C’est merveilleux : enfin quelqu’un qui me dit du mal de la famille Rouvière, « des gens primaires » (ça nuance un peu le portrait. Ca montre surtout la mentalité dans les villages). Sa grand-mère lui disait que quand Jean Rouvière a appris la mort de son fils il a dit « il n’avait qu’à rester ici ». Quand je lui dis que c’étaient des gens sensibles et affectueux, elle ne semble pas me croire. Elle parle d’un portrait de JB qui était jadis au séminaire. <br>
        Le jeudi j’arrive à La Bastide par un radieux après-midi. A l’entrée du hameau, deux vaches broutent tranquillement dans un vallon sous les arbres au bord d’un ruisseau. Qu’il a dû passer de doux moments dans son lieu natal, Jean-Baptiste ! Je photographie la maison sous toutes les coutures, c’est une jolie maison en granit, blottie dans un creux, entourée de sapins, avec une source devant. Au bord du chemin, une belle croix de granit sur le petit mur d’enceinte. Un peu plus loin sur la route, une grande croix de bois dans la boucle d’un tout petit ruisseau. Le hameau a quatre maisons. 
    </p>

    <p>
        Puis je débarque à Fabrèges où Mlle Belot m’a conseillé de voir la famille Chabanon, neveux de mme Félix. Je stationne au hasard devant une maison qui ressemble furieusement à une école, j’avise en face une maison avec la cheminée qui fume, donc des humains aux environs, je sonne en me réjouissant que mon bon ange (merci, saint Jean-Baptiste Rouvière !) m’ait envoyée tout droit chez Chabanon. Un charmant monsieur se pointe, je lui raconte mon histoire, il me parle de son oncle Félix, d’Augustin qui était si généreux, j’écoute de toutes mes oreilles. J’apprends que les enfants Rouvière allaient à l’école d’Antrenas (il y avait un raccourci). Il me montre l’endroit où était la maison Rouvière de Fabrèges et m’apprend qu’Urbain a fini ses jours à Aumont chez son fils (décédé maintenant). Il est plein de gentillesse, m’offre un café, je lui note mon adresse pour s’il trouve des photos ou quelque chose. Il m’indique la maison Vigne. <br>
        Lucien Vigne, 90 ans, est le doyen de la commune. Il se rappelle tout, paraît-il, mais depuis son attaque il y a 5 ans, il ne peut plus parler. C’est bien dommage… Sa femme m’accueille gentiment, elle aussi, elle me parle aussi un peu de Félix et d’Augustin, je lui donne aussi mon adresse.  <br>
    </p>
    <p>
        Après je vais au cimetière, j’enlève des herbes sèches sur la tombe mais je ne peux pas faire de photo car le soleil est en face. Je reviendrai. Je vais ensuite à la mairie où j’essaie de m’y retrouver dans le cadastre et je commence à regarder les vieux registres de conseils municipaux. Il faudra que je revienne passer quelques heures, il y a des trésors là-dedans. Je cause un moment avec Catherine, je lui raconte un peu l’histoire. Elle me conseille d’interroger Madame Guibal, fille d’Ernest de Framond, dont la belle maison est juste à côté de la mairie. J’apprends qu’on ne peut pas consulter les registres d’état civil de moins de cent ans. Elle me trouvera l’acte de décès de François. Et celui de JB ? Ca m’apprendrait quand ils ont su sa mort à Antrenas. Je lui demanderai aussi pour la petite Rouvière née à Montpellier et morte à La Bastide. L’état civil de Montpellier m’a donné sa date de naissance, mais pas ses parents, je ne suis pas plus avancée !
    </p>
    <p>
        Le lendemain, expédition à Marvejols : j’attaque le petit séminaire. L’abbé Saint-Jean est charmant, très distingué, serviable, cultivé. Il commence comme tout le monde par me dire qu’il ne sait rien, et il m’apprend (comme tout le monde) des foules de choses. Visite guidée de la maison, y compris le grenier, ses toiles d’araignées et sa poussière séculaire (mais pas de portrait de JB…Il y a pourtant des portraits de saints, d’évêques, et même de Pétain), les chambres, le réfectoire, la chapelle, les salles de classe, les escaliers, les cours, le nouveau directeur, l’emploi du temps de l’époque, je sais tout ou presque sur la vie des petits séminaristes. Il me donne une brochure d’anciens élèves (où j’apprends avec ravissement que le trousseau devait comporter « quatre bonnets de nuit », ça c’est du détail !), je lui emprunte au passage deux Max Gallo (sur Clovis et st Martin), je fais quelques photos et je vais, sur ses conseils, interviewer à la maison de retraite de La Prairie la sœur Germaine Chabanon, la grande sœur d’André (il y a aussi un frère plus jeune, prof au collège). L’entretien est bref : elle note mon adresse, et peu de jours après, je reçois deux photos de Félix. Merci, Germaine ! Chez elle je croise un prêtre, le père Aldebert, qui me jure presque que les livres que je cherche sont à la maison diocésaine. C’est curieux comme les gens à qui je demande la permission de fouiller dans leur grenier ou leur vieille bibliothèque me disent que c’est inaccessible… Avec Jean Saint-Jean, je n’ai pas eu à insister beaucoup pour qu’il me suive dans mon équipée à travers la poussière du passé (j’en ris encore, rien que d’y penser !), il faudra que je trouve d’autres greniers.
    </p>
    <p>
        Je repense à la veuve du cousin Urbain, je regarde l’annuaire à la rubrique « Aumont-Aubrac ». Le choc ! « Jean-Baptiste Rouvière » est dans l’annuaire ! Je note l’adresse et le téléphone. Je vérifie dans mes papiers : il s’appelait Jean-Baptiste Urbain, comme son père. Ce n’est pas un hasard s’il s’appelle comme mon héros : ils ont eu le même parrain, qui était l’oncle de l’un et le grand-père de l’autre. Je demanderai à sa femme si elle a des photos du grand-père de son mari, l’oncle Jean-Baptiste, mort en 1916. Elle habite dans la même rue que Joseph Salles, que je devrais bien relancer un de ces jours. Une petite expédition à Aumont ne me déplairait pas… <br>
        Je classe peu à peu mes montagnes de papiers, j’en recopie sur ordinateur, j’en range dans le beau trieur alphabétique offert par le père Noël. Il y en a toujours autant. Mais je progresse peu à peu. Je me documente sur l’Osier et sur Liège. Quel beau nom de fichier Osier et Liège ! J’irais bien faire un tour aussi dans le Vercors. Je vais déjà leur téléphoner pour demander des prospectus avec photos. <br>
        Je commence à penser que la lettre qu’il a datée de 1907 date peut-être vraiment de 1907. Il n’était pas idiot quand même ! Si j’ai cru que c’était 1906, c’est uniquement sur la foi de cette notice biographique qui dit que quelques semaines après son ordination il est parti en Amérique. Mais cette notice est truffée d’erreurs. Il vaut mieux faire confiance à Jean-Baptiste lui-même. De toute façon je finirai par le savoir. J’ai hâte d’avoir les documents du Canada, que personne ne s’empresse de m’envoyer. 
    </p>

    <p>
        Et les Esquimaux dans tout ça ? Je les oublie complètement,  j’ai encore le livre de Malaurie à lire. Je ne peux pas être partout. <br>
        Le mois de mars est riche en travaux, et on n’est que le 18 ! <br>
        Le 19 j’appelle Madame Jean-Baptiste Rouvière, qui ne sait strictement rien, n’a connu personne, a travaillé dans son coin, est âgée et malade. <br>
        Ensuite j’appelle Joseph Salles, je lui souhaite bonne fête, il se souvient parfaitement de moi, il n’a pas trouvé le livre de Breynat mais me raconte des foules de choses intéressantes. D’abord il pense, lui aussi, que les bouquins que je cherche sont sûrement au grand séminaire. Il me confirme qu’il y avait un portrait de JB au séminaire de Marvejols (où il a fait sa rhétorique en 1944-1945), probablement dans l’escalier, et d’après la description il s’agit de la même photo que dans Le secret des igloos. Il dit que l’idéal serait d’avoir des lettres mais qu’à l’époque les gens n’avaient pas de vénération particulière pour leurs fils ou frères missionnaires. Il trouve lui aussi l’abbé Saint-Jean charmant et délicieux, et souhaite me rencontrer un de ces jours. Il veut bien que je lui prête le rapport de La Nauze. Nous discutons sur le sens religieux des Esquimaux. Il estime que le catholicisme meurt d’avoir été trop tatillon sur des détails sans importance, et qu’il est maintenant sirupeux et invertébré. J’approuve.
    </p>

    <p>
        A la Bibli municipale je cherche dans le fichier « auteurs » : d’Aimé Roche il n’y a que la bio de Mazenod et deux éditions différentes de Granit et amour. De Croidys il n’y a qu’une bio de Larigaudie. Bon sang, ces sacrés bouquins doivent bien se trouver quelque part. <br>
        A la Bibli départementale, je trouve deux romans esquimaux d’Aimé Roche, qui me serviront pour les détails de la vie quotidienne. Dans l’un des deux, les principaux personnages s’appellent Oulouksak et Kormick ! Dans l’autre il y a plein de photos, y compris de missionnaires.
    </p>

    <p>
        Paul Hallauer me téléphone pour me donner le téléphone de son père qui a acheté la maison en 1956 et qui va pouvoir me raconter des tas de choses. J’apprends avec joie que la maison n’a pas trop changé, que les dalles sont d’origine et la source aussi. <br>
    Aux Archives j’épluche méthodiquement tous les livres, je trouve des informations variées, genre une grève des boulangers à Marvejols en 1897 ou un article sur l’émigration du Massif central. Il faudrait quand même que je commence à rédiger. <br>
    Diane Lamoureux, archiviste à Edmonton, m’envoie deux fichiers, un Word avec pas grand chose, un Excel que je peux voir et imprimer à la salle multimédia (après l’avoir transféré sur Caramail) : le résultat vaut la peine, il y a une  liste de cinq pages de tous les documents sur JB, avec les références. Je sélectionne ce qui m’intéresse le plus et j’envoie à Diane un e-mail pour les lui demander, par un moyen quelconque. Et puis j’attends… Liège ne répond pas non plus… Je demande à Pierre Remise si je peux me faire envoyer des fax à la paroisse, mais il pense que les documents peuvent s’envoyer par internet. Hum…s’y connaît-il vraiment ? Je verrai bien ce que Diane me répond. En attendant, j’apprends avec joie que Pierre possède Le secret des igloos, youpi !!! Mais il faut qu’il le retrouve au milieu de son déménagement, puisque le presbytère est en pleins travaux. Mais qu’est-ce qu’ils ont tous à déménager ? <br>
    Mes photos d’Antrenas et du petit séminaire sont développées, elles sont jolies, il y en a une pellicule entière. Il faudra que je prenne une autre pellicule pour l’intérieur de la maison, la tombe des parents, l’intérieur de l’église. Je vais aussi demander à Christiane une photo de son père.
    </p>

    <hr>

    <p>
        Toujours pas de réponse du Canada, ni de Belgique. Je commence à me demander si mes messages sont bien arrivés. Je vais relancer mes archivistes. Hé, vous m’oubliez ! <br>
        Je glane mollement quelques bribes d’informations mais je n’avance pas. Je suis un peu fatiguée. Il faut pourtant que j’avance au maximum tant que j’ai du temps libre. <br>
        Diane Lamoureux m’écrit que les archives d’Edmonton vont déménager et il y en a au moins pour deux mois. En plus les documents sont réservés à la recherche et on ne peut pas les publier. Encore un déménagement ! Elle n’aurait pas pu me les envoyer avant ? 
    </p>

    <p>
        Le père Dumas me parle des remarquables profs qu’il a eus au petit et au grand séminaires, des hommes très savants, qui parlaient sans livres et sans notes, il y pense pendant ses nuits d’insomnie et il regrette de ne pas en avoir profité davantage. <br>
        Catherine de la mairie d’Antrenas est très occupée jusque mi-avril. <br>
        Mes recherches bloquent de divers côtés.
    </p>

    <p>
        Le jour des Rameaux, rencontre des chorales de Lozère à l’église de Marvejols. Notre ensemble chante au début (on nous fait des compliments), et après l’entracte je n’ai pas le courage de quitter le soleil radieux et de replonger dans cette église toute noire. Je ne résiste plus à l’attraction d’Antrenas si proche et je prends ma voiture dans l’intention d’aller m’asseoir un moment devant la maison de JB en lisant le livre de Jean-Christophe, par exemple… J’arrive à La Bastide et que vois-je !!! Il y a des gens !!! Octave Hallauer et sa femme sont venus faire visiter la maison à des locataires potentiels, je me présente et ils me font visiter les lieux, qui ont à peine changé depuis 100 ans ! D’ailleurs Octave me décrit comment était la maison quand il l’a achetée il y a presque un demi-siècle, donc je peux m’imaginer assez bien la vie de Jean-Baptiste et de ses douze frères et sœurs…Quelle joie… <br>
        Il me montrera l’acte d’achat de la maison, si je vais le voir chez lui. Il me conseille vivement d’interviewer la voisine, madame Tichit de La Graillouse. Je n’ai pas le temps maintenant mais je reviendrai… <br>
        Pierre Remise me prête Le secret des igloos, que je survole avec passion, depuis le temps que je l’attendais ! Je vois avec perplexité qu’Aimé Roche a eu accès à toute une série de documents canadiens dont j’aurais besoin, comment a-t-il fait ? Il a lu aussi les notes de retraite de JB à l’Osier : JB réfléchissait sur le martyre, à propos de st Etienne, et se demandait à quel genre de mort il aspirait… Je sors de ce livre avec l’impression que si JB était attachant, Guillaume l’était peut-être encore davantage… <br>
        Le mois d’avril se termine sans que je fasse rien de plus. Je suis en panne.
    </p>

    <hr>

    <p>
        <span>Main 2003:</span>
        Toujours amorphe. <br>
        Mère Fernande voudrait récupérer ses livres, je lui rends Inuk car j’en ai ramené de Dole un exemplaire, une réédition avec des détails différents. Je relis L’évêque des neiges et je prends des notes pour pouvoir le rendre aussi. Après il y a encore Martyrs des neiges. Mais elle n’a pas besoin des livres récents dans l’immédiat. Moi non plus d’ailleurs… <br>
        Les gens (peu) me demandent des nouvelles de mes recherches et je ne sais quoi leur dire. <br>
        J’ai quand même trouvé une phrase de Mircea Eliade sur le sens religieux du cannibalisme, qui va tout à fait dans mon sens. <br>
        Saint Jean-Baptiste Rouvière et saint Guillaume Le Roux, priez pour nous, que nous ayons votre courage, votre générosité, votre charité et votre foi. <br>
    </p>

    <hr>

    <p>
        <span>Juin 2003:</span>
        Ben, juin est comme mai. Quand vais-je interviewer mme Tichit à la Graillouse ? Et voir chez Octave l’acte d’achat de la maison ?
    </p>
    <hr>
    <p>
        <span>Juillet, août, septembre  2003</span>
        Toujours rien.
    </p>

    <hr>
    <p>
    <span> Octobre  2003 </span>
    Je fais un effort pour m’arracher à la torpeur. <br>
    D’ailleurs Marie-Agnès Motte, de la bibli diocésaine, me réclame la thèse de JF Courtois sur les mouvements de jeunesse en Lozère. Je lis les passages qui m’intéressent, je prends quelques pages de notes et je rends les deux volumes. C’est vraiment intéressant d’ailleurs. Ce n’est pas que j’oublie mon cher Jean-Baptiste, mais je manque d’énergie. <br>
    J’envoie un e-mail à Diane Lamoureux. Avec le déménagement de ses archives, elle ne sait plus ce que je lui avais demandé, il faut donc que je retrouve la liste que j’avais faite. Elle veut savoir pourquoi je veux ça. C’est un problème, car si je dis que c’est pour publier elle ne m’enverra rien. Du coup, je replonge dans l’inertie en attendant de trouver quoi lui dire.
    </p>

    <p>
        Un matin, je suis réveillée par le téléphone : un monsieur inconnu me dit qu’il s’appelle Rouvière et me demande si son nom me dit quelque chose. Oh oui !! Il habite en Touraine et il est un lointain, très lointain parent de mon Rouvière, la parenté remonte au moins au 18ème siècle, mais il dit qu’il a connu Augustin et Félix et qu’ils avaient un air de famille avec lui. Il me raconte sa vie, en Afrique du nord. Un de ses enfants est né dans la même clinique que moi mais ça n’a rien à voir avec notre sujet. Il est sympa ce monsieur. C’est la secrétaire de mairie qui lui a donné mon téléphone. Il me dit que les Nègre ont revendu la maison à des Rouvière. Etonnant !
    </p>
    <p>
        J’ai à faire à Marvejols un après-midi : je pars plus tôt et je vais tout droit à La Bastide, avec l’intention d’interviewer cette fameuse mme Tichit. Je vois que la maison de gauche (celle d’Augustin) a les volets ouverts, et il y a une voiture. Changement de programme ! Je frappe, un jeune homme très surpris m’ouvre. Il vient d’acheter la maison, il est en train de l’arranger. Mon histoire l’intéresse. Effectivement il s’appelle Rouvière !!!! Mais il n’est pas de la famille. Un oncle de sa femme est frère à Langogne et s’intéresse à Jean-Baptiste. J’apprends avec consternation que les Nègre ont emporté les objets qui étaient au grenier, notamment la malle, qu’ils pensent avoir appartenu à Jean-Baptiste…Aïe aïe aïe quelle idiote ! Maintenant c’est trop tard pour la voir, elle est à Chaudes-Aygues…Ils sont partis il y a 8 jours… Ben tant pis hein ! Ce jeune couple va habiter là tout le temps, ainsi La Bastide aura à nouveau des habitants. Nous échangeons nos adresses. Il dit que la croix sur le mur de la maison natale est du 14ème . Elle est belle, la maison natale, avec la vigne vierge toute rouge sur le granit. Je vais frapper chez Maurice Vernon, là aussi les volets sont ouverts et il y a une voiture 75 (pourquoi 75 ?) mais personne ne répond. Je vais à La Graillouse, mme Tichit est absente, sa belle-fille ne sait rien et mme Tichit qui n’a que 80 ans ne doit pas savoir grand chose non plus. Au retour je chope Maurice Vernon juste comme il montait dans sa voiture, il ne sait rien de plus que l’histoire de sa grand-mère demandant à JB de lui rapporter une fourrure. Il dit que Félix et Augustin étaient bizarres, ne s’entendaient pas bien, car l’un avait lésé l’autre, une histoire de viager. L’oncle Etienne, l’infirme, avait des moutons à côté de la maison, il me montre l’endroit. Mais il est pressé et il s’en va. Miette par miette je ramasse les informations.
    </p>
    <p>
        Ensuite je vais à ma réunion au presbytère de Marvejols. Je repose la question pour la mitre de Mgr Breynat, mais le père Brémont ne sait pas. Il dit que beaucoup de choses ont été portées à Emmaüs. Personne n’a l’air au courant.
    </p>

    <hr>

    <p>
        <span>Décembre 2003</span>
        Je relance Diane Lamoureux, je lui renvoie la liste des documents que je désire et que j’ai retrouvée par miracle dans Outlook express. Elle me les promet pour bientôt, et me donne des précisions sur la fameuse interdiction de publication qui m‘ennuyait tant : les citations courtes sont libres, pour les moyennes il faut demander la permission, seules les publications de documents entiers sont interdites. Comme ça, ça me va ! Alors j’attends le paquet de photocopies. <br>
        Je rencontre sœur Marie-Louise qui me dit qu’elle a un livre : il s’agit du fameux Aux glaces polaires dont j’ai tant entendu parler. Chouette ! <br>
        Je mets mes fichiers JBR sur disquette, pour éviter les disparitions intempestives.
    </p>

    <hr>

    <p><span>Janvier 2004:</span>
        Meilleurs vœux à Jean-Baptiste ! Cette fois j’espère que c’est reparti pour de bon. J’attends un coup de fil de Diane pour mettre au point ce que je veux exactement, dire comment je paie, et après elle m’envoie les documents. <br>
        Sœur Marie-Louise m’a passé Aux glaces polaires, que je n’ai d’ailleurs pas encore ouvert. Sur mes forums internet, je recommence à parler de missionnaires, c’est signe que ça bouge…
    </p>  

    <hr>
    <p>
        <span>Février 2004</span>
        Ca bouge mais au ralenti. En février j’ai lu Le secret des igloos en prenant plein de notes. C’est à peu près tout.
    </p>

    <hr>

    <p><span>Mars 2004:</span>
        Gabrielle a fait un nounours (en cousant les morceaux déjà préparés), il est assis près de l’ordinateur et je l’appelle Jean-Baptiste. Il est très mignon. Dans la poche de sa salopette, j’ai mis une image qui traînait là, une image de ma première communion. <br>
        Diane dit qu’elle va m’envoyer les documents gratuitement car elle m’a beaucoup fait attendre. Ben je comprends, ça traîne depuis un an cette histoire ! Mais le 31 mars arrive et toujours rien reçu. <br>
        J’ai enlevé la photo de JB, G et Oulouksak qui était affichée au mur depuis plus d’un an. <br>
        Et puis quand même un événement historique : j’ai commencé à rédiger !!!!! Un soir de courage j’ai écrit les deux premières pages, nulles mais il faut commencer par un bout quelconque et la suite viendra.
    </p>

    <p>
        <span>Un an après</span>
        Je résume la suite de 2004: <br>
        Les fameux documents canadiens sont arrivés début juin 2004, après 14 mois d’attente !  J’y ai à peine jeté un œil. J’ai la tête ailleurs, surtout dans les forums internet. J’ai tout de même vu que JB a effectivement traversé l’Océan en 1907. <br> 
        Je me lance dans une nouvelle activité : la traduction d’inédits de st Thomas d’Aquin. C’est aussi pour la gloire de Dieu, mais d’une autre façon. De temps en temps je me dis que je devrais me remettre à mon livre, je culpabilise un peu mais je ne m’inquiète pas vraiment : je sais que la passion reviendra. <br>
        Début janvier 2005 : un monsieur inconnu et très gentil me téléphone. Joseph Le Bihan, de Châteaulin, biographe de Guillaume Le Roux, banquier en retraite et ami de Mgr Honoré. Il voit que je sais beaucoup de choses qu’il ignore, et aimerait que je lui envoie des renseignements. Je reste un peu dans le vague, car ça suppose un gros effort de remise en route et je n’y suis pas disposée pour le moment. Sinon, il a trouvé dans le grenier des Le Roux les lettres que Guillaume écrivait à ses parents. C’est génial !!!! Le temps de les traduire du breton, il me les enverra. <br>
        Février  2005: je décide de laisser tomber, pendant le carême,  les forums internet qui m’occupent des heures par jour. Ainsi je serai plus disponible pour faire autre chose. Mon livre, par exemple ! D’ailleurs je pense qu’après le carême je continuerai comme ça, une fois lancée. Fin février, Joseph Le Bihan retéléphone. Il a fini de traduire les lettres et va me les envoyer par e-mail. Il travaille depuis plusieurs années à son livre, qui comporte des centaines de pages, y compris des articles entiers écrits au fil du siècle par divers Oblats. J’ai l’impression que mon enquête est plus rigoureuse que la sienne. Mais à nous deux on devrait arriver à quelque chose ! Il n’écrit pas pour publier, il fait seulement quelques exemplaires pour la famille. Le jour-même je reçois en effet les 11 lettres de Guillaume, qui signe « Laou ». Quelle merveille que ces lettres ! Un vrai trésor ! Il décrit longuement à ses parents sa vie quotidienne, pour les rassurer, leur montrer qu’il mange bien, qu’il n’a pas froid et que tout va bien. Il dit du bien de JB. 
    </p>

    <hr>

    <p>
        <span>Mars 2005:</span>
        Je lis enfin Ultima Thulé de Jean Malaurie, qui m’attendait depuis plus de deux ans. C’est absolument passionnant. C’est l’histoire des explorations du Groënland et des relations entre les blancs et les Inuit polaires, pas les mêmes Inuit que les miens mais quand même je marque plein de passages qui me serviront. Sur la religion et la mentalité des Esquimaux, par exemple. <br>
        Je cherche sur google « Coppermine » et je trouve pas mal de choses intéressantes. Je cherche aussi « Jean-Baptiste Rouvière » et je trouve aussi ! Autrefois j’avais déjà cherché mais seulement sur le web francophone, mais sur le web mondial je trouve un article en italien écrit par un Oblat sur les martyrs et ça a l’air très bien. <br>
        Je trouve un site géographique canadien sur une exploration arctique effectuée en 1913-1916, ceux qui ont transporté La Nauze et ses prisonniers jusqu’à l’île Herschel, et il y a plein de photos des divers personnages de mon histoire, plein de détails intéressants. 
    </p>
    <p>
        Et je trouve un Canadien qui vient juste de publier en anglais un livre sur la mort de mes héros, vue sous l’angle du choc des cultures. <br>
        Et puis je trouve un site juridique en anglais, sur le procès. Il y a des photos qu’on ne peut pas imprimer car elles appartiennent aux archives canadiennes, et parmi ces photos, une superbe photo de JB que je n’avais jamais vue. Il est devant sa cabane. Mon Dieu, que j’aimerais la voir de plus près, en agrandissement ! Il a une bonne tête sur cette photo. Il me la faut pour la couverture de mon livre. <br>
        Autrement dit, j’ai du pain sur la planche. <br>
        Au boulot !
    </p>

    <figure>
        <img src="{{asset('images/rouviere/aNauze.jpg')}}" alt="Bateau" width="500">    
        <figcaption>l'inspecteur LaNauze à la recherche de JBR.</figcaption>
    </figure>

    <hr>

    <p>
        J’ai enfin regardé de près les documents d’Edmonton. <br>
        J’ai lu les extraits des codex, des articles divers discutant pour savoir s’ils ont été de vrais martyrs (ça, c’est the question), un projet de film (pas réalisé), des photocopies de lettres de JB, et j’apprends un détail touchant : la mission que JB a fondé près du Grand Lac d’Ours, la cabane en bois qu’il a construite, devait primitivement être dédiée à st Benoît Labre, car elle était simple et pauvre. Mais finalement, elle a été dédiée à la Sainte Vierge comme toutes les missions du Grand Nord, à part la plus au nord, sur l’île Victoria, qui est dédiée au Christ Roi. <br>
        Et puis un trésor, quand je pense que j’avais ça et je n’avais même pas vu : une lettre de sa sœur Anna ! Elle lui a écrit début 1914 en donnant des nouvelles de toute la famille. Mais (il y a toujours un mais) Diane m’a mis deux fois la page 1 de la lettre, et pas la page 4. Donc je n’ai pas la fin de la lettre. C’est râlant. Pas un mot sur Félix. Anna parlait-elle de Félix dans la fin de la lettre ? En bas de la page 3 elle parlait de sa belle-mère, donc si elle en était à la belle-mère (qui ne devait pas passionner JB) c’est qu’elle n’avait plus grand chose à dire. Je suppose que Félix, qui a perdu sa mère à 5 ans, a été élevé par une tante ou autre personne ? J’écris à Diane pour lui demander la page 4.
    </p>

    <hr>
    <p>
        <span> Avril 2005: </span>
        Evénement imprévu : je vais avoir un site perso, sur lequel je publierai ce journal, que jusqu’à présent je n’écrivais que pour moi, pour faire le point. Si ça peut m’inciter à avancer, et me procurer des informations, ce serait bien. Et surtout, faire connaître et aimer JB, ce qui peut être utile à sa cause. <br>
        Joseph Le Bihan m’appelle encore. Il va m’envoyer photocopie des lettres de Guillaume. Il dit que le breton employé par Guillaume est très simple. Il a l’impression en lisant ces lettres que Guillaume prévoyait sa mort prochaine, qu’il pensait ne pas revoir ses parents. Je lui objecte qu’en effet pendant longtemps les missionnaires partaient sans retour. En tout cas Guillaume cherche constamment à rassurer ses parents, à leur raconter comme tout va bien, quitte à embellir la réalité. <br>
        Récapitulons : je n’ai pas enquêté à l’Osier, je n’ai pas eu de réponse de Liège, je n’ai pas téléphoné aux filles de Félix, qui ne sont peut-être plus en vie depuis deux ans ; je n’ai pas interviewé Madame Guibal (de Framond), ni été à l’église d’Antrenas ni chez Octave Hallauer voir les papiers de la maison. Il faut aussi que je retourne à la mairie d’Antrenas, et que je trouve Lands forlorn, de Georges Douglas, qui parle en détail des derniers mois de JB, quand ils jouaient aux échecs ensemble. <br>        Et avec tout ça, je ne rédige toujours pas. J’en avais fait un peu mais ça ne va pas. <br>
        Je reçois les photocopies promises par Joseph Le Bihan, c’est écrasant de penser à tout ce que j’ai à lire. <br>
        Et puis mon site perso commence à fonctionner (merci à Arnaud) et à partir de maintenant le feuilleton sera public. C’est une nouvelle aventure. Bienvenue à mes lecteurs !
    </p>

    <img src="{{asset('images/rouviere/ours-polaire.jpg')}}" alt="Ours blanc" width="400">    

</div>


{% endblock %}
