{% extends 'base.html.twig' %}

{% block title %}Souvenirs de ma mère{% endblock %}

{% block pageTitle %} Vacances au village ! {% endblock %}
{% block body %}


<h2>Prologue</h2>

<hr>

<div class="home-descri wrapper souvenirs-wrap">
    
    <p>
        Années 30, années de mon enfance…
        J’étais petite fille, une petite fille un peu sauvage, timide et secrète, inquiète et solitaire.
         </p>

    <img src="{{asset('images/souvenirs/young.jpg')}}" alt="Jeune fille" width="340">
    <p> 
        Mais les vacances au village étaient la trêve à toutes mes angoisses, car je trouvais là tout ce qui est le plus nécessaire à l’enfant : la sécurité et la tendresse, le silence et la paix, et par-dessus tout un profond sentiment de liberté.
        Cette liberté dont j’ai toujours été assoiffée, sans doute parce que jusqu’à six ans, âge de mon entrée à l’école, j’ai connu l’ivresse des grands espaces sur les grèves de Bretagne.
        Il peut sembler incroyable qu’une enfant de cinq ans ait eu cette liberté merveilleuse d’aller parfois seule à la découverte du monde, sur les plages de galets, sur le sable déserté par la mer où tant de trésors m’étaient offerts, ou dans les chemins creux où je cueillais des églantines. Le monde était alors bien moins dangereux qu’aujourd’hui.
        Et puis je suis devenue une enfant de la ville : les rues sans fin entre deux rangées de maisons hautes, les trottoirs, les tout petits jardins entourés de grands murs, la petite chambre sans soleil, et, pour seul compagnon, l’ennui. Sauf au Lycée, car j’ai toujours adoré apprendre. Au Lycée, oui. On y entrait à cinq ou six ans, pour y rester jusqu’à la fin de ses études, ce qui donnait un grand sentiment de sécurité, de continuité.
        Quand venaient les vacances, nous allions régulièrement chez les grands-parents, dans les Deux-Sèvres. Quelques jours seulement chez les grands-parents paternels, car il y avait tant d’oncles, de tantes et de cousins, que ma pauvre grand-mère était vite épuisée.
    </p>
    <img src="{{asset('images/souvenirs/family.jpg')}}" alt="Photo de famille" width="500">

        <hr>

    <p>
        Je comprends très bien cela aujourd’hui, avec mes onze petits-enfants ! Mais maman était fille unique, aussi étions-nous toujours accueillis avec joie au village.
        Mes grands-parents étaient encore instituteurs quand je suis née.
        Je le sais, car une vieille photo me montre en train de faire mes premiers pas dans le jardin de l’école, de la mairie. École et mairie, c’était la même chose, l’instituteur était tout naturellement maire du village. Il était instituteur au rez-de-chaussée, et maire à l’étage, où il demeurait.
    </p> 
    <figure>
        <img src="{{asset('images/souvenirs/sit.jpg')}}" alt="Homme assis" width="400">
        <figcaption>Le jardin de la mairie</figcaption>  
    </figure>

    <hr>

    <div class="">
        <p> L’entrée de la mairie était au milieu du bâtiment. Une classe de chaque côté avec des inscriptions au-dessus de la porte : « Garçons » d’un côté et « Filles » de l’autre. Devant, un jardin plein de verdure.</p>
        <div class="houses-pics">
            <div class="">
                <img src="{{asset('images/souvenirs/house.jpg')}}" alt="Image de maison" width="400">
            </div>
            <div class="">

                <figure>
                    <img src="{{asset('images/souvenirs/house2.jpg')}}" alt="Image de maison" width="400">
                    <figcaption>En 1994, devant l’école. Au milieu, la mairie</figcaption>  
                </figure>
            </div>
        </div>
    </div>    

    <hr>

    <div class="">
        <p>
            Les enfants entraient par derrière, où ils disposaient d’une grande cour, et d’un vaste préau pour les jours de pluie. Il y avait alors beaucoup d’enfants dans le village, le travail ne manquait pas, et personne ne songeait à partir en ville. Tant de vaches, de bœufs, de chèvres et de moutons à soigner ! Tant de champs à cultiver !
            J’ai rencontré il y a bien longtemps une vieille institutrice qui me raconta qu’elle avait eu jusqu’à quatre-vingt-dix élèves dans sa classe, et son époux en avait autant. Ils étaient donc cent quatre-vingts, dans deux salles contiguës, entre lesquelles la porte de communication restait souvent ouverte ! Mais c’était sans problème. Tout le monde voulait apprendre, décrocher ce Certificat d’Études, qui vous posait dans la société et ouvrait bien des portes. Ce qui n’était que justice car le bagage de connaissances exigées était solide ! L’orthographe, le calcul mental et la règle de trois n’avaient plus de secret, l’Histoire de France était connue « sur le bout du doigt ». On pouvait réciter sans faute la liste des chefs-lieux et des sous-préfectures de tous les départements, celle de tous les affluents des fleuves de notre pays. Ajoutez à cela un bon répertoire de fables de La Fontaine, de chansons patriotiques. Avec en plus, pour les filles, l’art de monter un poignet de chemise. Si vous croyez que c’est facile !...
            Le tout couronné par de solides principes de cette morale, qui était la culture de l’époque, « ce qui restait quand on avait tout oublié ».
            On apprenait sur les bancs de l’école à aimer le travail, à respecter les anciens, à cultiver les vertus de droiture, d’honnêteté et de fidélité.
            Et tout cela était bel et bon. Et tout cela était vécu chez mes grands-parents, de façon toute naturelle. Ce n’était même plus une question de discipline personnelle. Ils donnaient l’impression que se comporter ainsi était tellement évident, que la tentation n’existait plus. Ils étaient pour moi l’image de la liberté intérieure.
        </p>
        <img src="{{asset('images/souvenirs/couple.jpg')}}" alt="Image de couple" width="440">
    </div>
   
    <hr>

    <h2>LA TERRE</h2>

    <div class="">
        <figure>
            <img src="{{asset('images/souvenirs/nature.jpg')}}" alt="Image de nature" width="500">
            <figcaption>La gare était par là. Ce coin de bocage échappa au massacre</figcaption>
        </figure>
    </div>
    <p>Le village où j’ai passé mes vacances se trouve loin des grandes routes, perdu au milieu du Bocage.</p>
     <p>Mais peut-être ne savez-vous pas ce qu’est le Bocage, ou plutôt ce qu’il était. Qu’en reste-t-il ? Les 
        livres de géographie expliquaient que c’est un mélange de « prairies et de forêts ». J’ai appris cela par 
        cœur, sans bien comprendre ce que cela signifiait. Je connaissais trop ce paysage, je l’aimais trop pour 
        avoir jamais songé à en analyser les ingrédients ! Je me contentais d’y vivre des jours heureux. 
        Quel habitat mieux adapté à la vie que le bocage ? C’était un paradis pour les bêtes, sauvages ou 
        domestiques. Les prés bien clos de haies étaient des résidences de luxe pour les vaches, assurées de 
        trouver une ombre fraîche aux heures chaudes de l’été, sous des pommiers ou des bosquets de noisetiers.
    </p>
    <p>
        Aussi n’est-ce point par hasard que le beurre des Charentes est si réputé, avec un goût de noisette 
        unique au monde. Mais l’a-t-il encore, ce parfum exquis, maintenant que les noisetiers ont
         été arrachés pour laisser passer les tracteurs ?
    </p>
    <p>
        Quant aux chèvres, elles trouvaient là de quoi satisfaire tous leurs caprices de petites gourmandes. 
        De fines connaisseuses ! Ne croyez pas qu’une chèvre soit capable de se contenter de n’importe quelle
         nourriture. Elle est bien trop intelligente et indépendante pour cela ! Elle sait ce qu’elle veut, et 
         ce qu’elle veut, c’est le meilleur. Essayez de l’empêcher de se dresser tout debout contre une haie pour 
         attraper une pomme ! Vos efforts seront inutiles, bien que cette pomme…enfin… elle soit bien d’autrui, 
         auquel nul ne doit toucher. Mais de cela, la chèvre se moque éperdument ! <br> 
        Les chèvres doivent exister encore en Poitou puisqu’on vend leurs fromages, mais elles doivent rester 
        enfermées, je suppose. Les routes goudronnées avec leurs voitures-bolides sont devenues trop dangereuses. <br>
        Plus de chemins creux, ils ont presque disparu de France. La recherche éperdue d’un meilleur rendement a fait
         de ce coin de « douce France » une pâle copie des grandes plaines à blé d’Amérique. Ils avaient pourtant leur
          raison d’être, ces talus couronnés de verdure. La mer n’est pas loin : soixante-dix kilomètres environ à 
          vol d’oiseau, soixante-dix kilomètres pour le Vent d’Ouest qui est ici le vent dominant. Une heure à peine, 
          et il arrive, chargé de sel et d’eau. Bosquets et bois de châtaigniers retenaient les nuages, et les 
          haies protégeaient bêtes et cultures, tout en retenant dans le sol l’humidité précieuse.
           L’intelligence qu’avaient les hommes des choses de la nature leur donna un jour l’idée de
            planter ces haies sur de vrais remparts de terre, prenant la terre dans les chemins, qui étaient
             donc « creux » - et souvent boueux en hiver ! – mais quelle merveille de s’y promener en été ! 
             Noisetiers, pommiers, et ronces couvertes de mûres. Quel régal pour les chèvres !... et pour les 
             jeunes bergères !
    </p>
        <p>

            Se rendre au village n’était pas des plus faciles. Nous habitions Tours, et prenions l’express de Bordeaux. Arrêts à Châtellerault et Poitiers. Puis une brève halte dans une petite gare au milieu des champs : Saint-Saviol. Nous trouvions là un petit train qui se faufilait entre les champs et les bois, méritant bien son nom pittoresque de tortillard. Une petite locomotive, crachant et fumant comme celles du Far-West, tirait quelques wagons. Ce n’était guère confortable, et il ne fallait pas être pressé. Pourtant la compagnie était pleine d’attentions pour les voyageurs : de longues bouillottes d’étain, placées entre les banquettes, permettaient de se réchauffer les pieds en hiver.
            Le tortillard ne traversait aucun village. On apercevait des maisons au loin, on longeait des bois de châtaigniers. De temps à autre, le train s’arrêtait : parfois devant une gare minuscule, parfois en pleine campagne, au croisement d’une route de terre battue menant à quelque hameau perdu dans les bois.
        </p>
        <p>

            Enfin nous arrivions. <br>
            Grand-père nous attendait à la gare, avec une petite charrette pour transporter les valises, car il y avait un bon kilomètre à faire à pied pour atteindre la maison. Grand-mère disait « la charrette » pour désigner ce qui était en somme une poussette de bois pour jumeaux. Mes deux frères ayant quatorze mois d’écart seulement, cette poussette avait beaucoup servi à les promener. Les dossiers étaient mobiles, permettant à deux enfants de se faire face. Ce n’était pas très stable, avec les grandes roues en fer. L’idéal pour faire hurler de peur une petite sœur – moi, en l’occurrence – en la tirant juste un peu trop vite sur les chemins du village. Mes frères s’en donnaient à cœur joie !
            Nous suivions d’abord un chemin bordé de haies, qui descendait vers la grande place. Au centre, une grande mare entourée d’une murette de pierre. Une multitude de canards y barbotaient joyeusement, plongeant sans cesse pour fouiller du bec le fond vaseux. C’était très amusant à regarder.
            Tout autour de la mare, des fermes, le café où les hommes se retrouvaient le dimanche pour la 
            partie de cartes, une épicerie, la poste, le vieux cimetière. Sur la droite, une vaste esplanade plantée 
            de grands arbres qui cachaient à demi quelques belles demeures avec de grands porches,</p>
        </p>

        <img src="{{asset('images/souvenirs/tree.jpg')}}" alt="Image d'arbre" width="500">
        <figure>
            <img src="{{asset('images/souvenirs/house-tree.jpg')}}" alt="Arbre et maison" width="500">
            <figcaption>La maison de la cousine Eugénie Dechambre <br> (mère de Fernand Dechambre, le héros du roman de Claire Sainte-Soline Le Menteur)</figcaption>
        </figure>

        <p> 
            et ce qui reste du Château dont j’ai toujours ignoré l’histoire et qui est resté pour moi un mystère.
            
            Au-delà de la mare, une très vieille église bien délaissée, en fort mauvais état. Il y avait si peu de fidèles ! Autant que je sache, il n’y avait pas de curé au village. Les guerres de Religion, la Révolution, les Chouans, les Huguenots : de tout cela il restait un vague souvenir dans la mémoire collective. Aussi chacun restait-il prudemment chez soi, ce qu’il pensait ne regardait pas les autres !
             
            
            Obliquant sur la gauche, nous poursuivions notre route. À droite et à gauche, des fermes opulentes. Les façades étant obstinément orientées vers le Sud, nous avions d’un côté des murs aveugles, sans portes ni fenêtres. Et, de l’autre côté, des cours, des hangars où les machines agricoles se serraient bien à l’abri. Il y avait là charrues, herses, moissonneuses, les grandes charrettes pour rentrer les récoltes, et la petite carriole légère à deux roues pour aller au marché. Partout des poules, des oies, des chiens. C’était très animé ! Nous croisions parfois un troupeau de moutons, ou une paire de bœufs qui me faisaient assez peur avec leurs grandes cornes. Mais le joug les retenait ensemble, ce qui me rassurait un peu.
            
            Enfin, passant l’école, nous apercevions LA MAISON.</p>

            <figure>
                <img src="{{asset('images/souvenirs/house-3.jpg')}}" alt="Image de maison" width="440">
                <figcaption>La maison d’habitation, vue du jardin des cousins. À droite, chambre des enfants, au-dessus de la salle. Au milieu, chambre des parents.
                    La grande cheminée n’existe plus, il y avait une cheminée à chaque bout du toit</figcaption>
            </figure>

            <hr>

            <p> 

                C’était une bien vieille maison. Elle fut construite en 1832 par un aïeul, qui grava la date et ses initiales sur le manteau de l’immense cheminée.
                
                Une longue suite de bâtiments s’ouvrait largement au Sud comme dans la plupart des maisons du village. Toutes les pièces étaient baignées de soleil. Prolongeant la maison d’habitation, l’écurie où l’arrière-grand-père avait son cheval, puis la grange immense, avec son grenier à foin au-dessus de l’écurie.</p>

                <figure>
                    <img src="{{asset('images/souvenirs/young-girl.jpg')}}" alt="Jeune fille" width="500">
                    <figcaption>Les portes sont garanties d’époque !</figcaption>
                </figure>

                <p>
                    Enfin, le lavoir : un préau avec une grande auge de pierre dans laquelle on trempait et savonnait le linge. </p>
                    <p>

                        Devant la maison, un jardin plein de rosiers que ma grand-mère soignait avec amour. Les hivers sont si doux, en ce pays, qu’un vrai bananier pouvait s’y plaire au point de produire des régimes de bananes minuscules, qu’il n’était pas question de manger ! <br>
                    
                    Par contre, maman se régalait des fruits du grenadier. Des fruits étranges qui avaient l’air durs. Ils ne ressemblaient pas vraiment à des fruits, et ne me faisaient pas envie. Quand on y mordait, il coulait un jus rouge comme du sang, ce qui m’effrayait un peu. Dieu merci, il y avait bien assez d’autres fruits au jardin pour se régaler tout au long de l’année !
                    </p>
                    <p>
                        De ce qui fut une ferme jadis, il restait encore le toit à cochons, vraie petite maison de pierre couverte de tuiles rondes, adossée au four. Un four énorme, sous un petit préau. On y cuisait jadis le pain pour la semaine, et d’immenses tartes. Il ne servait plus maintenant qu’à sécher les fruits pour l’hiver, surtout les poirillons de l’immense poirier. De toutes petites poires brunes, que l’on étendait sur de grandes claies d’osier à leur sortie du four.
                    </p>
                    <p>
                        Et puis, comme l’aïeul était forgeron, il y avait la forge. Du moins ce qui en restait : un bâtiment carré au sol de terre battue et, suspendue au plafond, la balance qui servait à peser le fer. Une immense balance avec de larges plateaux de bois, sur lesquels nous grimpions, mes frères et moi, pour d’étonnantes parties de balançoire. On pouvait même se peser. Les poids du forgeron étaient toujours là. De gros poids de fonte, de dix et vingt kilos. C’était bien trop lourd pour moi, mais mes frères étaient fiers de montrer leur force. Mon Dieu, que de rires et de jeux !
                    </p>
                    <p>
                    Les poules avaient leur domaine réservé derrière la maison : leur poulailler, leur cour personnelle.
                </p>

                <figure>
                    <img src="{{asset('images/souvenirs/chicken.jpg')}}" alt="Jardin" width="540">
                    <figcaption>La cour aux poules</figcaption>
                </figure>

                <p>Mais elles ne se gênaient pas pour traverser la grange et venir devant la maison, si bien que grand-père avait dû mettre de hauts grillages avec des portillons de bois pour protéger d’un côté les fleurs de grand-mère, et de l’autre les légumes de l’immense potager, délimitant ainsi un terrain d’herbe verte qui était notre domaine à nous, les enfants (à partager avec les poules), pour tous les jeux inventés par mes frères. Moi, la petite sœur, je suivais comme je pouvais. Mais j’ignorais l’ennui.</p>

                <img src="{{asset('images/souvenirs/family2.jpg')}}" alt="Photo de famille" width="540">

                <hr>

                <p>Avec le potager, grand-père avait de quoi s’occuper toute l’année. Au fil des saisons, il y avait toujours quelque chose à planter ou à récolter. Sol extraordinairement fertile, climat idéal, tout pour avoir les meilleurs légumes du monde !</p>

                <figure>
                    <img src="{{asset('images/souvenirs/potager.jpg')}}" alt="Jardin" width="540">
                    <figcaption>Ce coin de jardin n’a guère changé. Il manque seulement le poirier géant, sur la droite, et la grande allée verte entre les deux rangs de vigne, le long de la rue</figcaption>
                </figure>

                <figure>
                    <img src="{{asset('images/souvenirs/potager2.jpg')}}" alt="Jardin" width="540">
                    <figcaption>Le potager. L’allée verte avec le fil d’étendage existe toujours, mais il y en avait plusieurs autrefois. <br>
                        À droite, la maison de Célina. <br>
                        Au fond, jadis un noyer immens</figcaption>
                </figure>

                <p>Mais ce qui nous attirait au jardin, mes frères et moi, c’étaient les merveilleux ombrages du poirier et du noyer. Deux arbres géants sous lesquels nous nous installions l’après-midi. Grand-mère se reposait de 2 heures à 4 heures et le silence était alors de règle. Une règle strictement respectée par tout le monde. Couchés dans l’herbe épaisse, nous dévorions les livres de la bibliothèque.
                     C’est là qu’au fil des ans j’ai lu tout Jules Verne et le théâtre de Victor Hugo.
                </p>     
                <p>
                    Certains jours, le silence était rompu par la chanson douce et modulée de la machine à battre qui circulait de ferme en ferme à la fin de l’été. Des fruits tombés sous le poirier pourrissaient lentement, attirant des abeilles, dont le bourdonnement accompagnait nos lectures.
                </p>
                <p>
                    Et depuis ce temps-là, quand j’entends des abeilles sous un arbre immense, dans un grand jardin, je me revois petite fille sous le grand poirier, et une joie profonde m’envahit, faite de paix, de sécurité, de reconnaissance et d’amour.</p>
                </p>

                <hr>

                <h2>L'EAU</h2>

                <img src="{{asset('images/souvenirs/wall.jpg')}}" alt="Jardin" width="540">

                <p>
                    L’eau est indispensable à toute vie. Aussi nos aïeux avaient-ils la sagesse de s’assurer de la présence d’une eau suffisante avant de s’implanter quelque part. <br>
                    Or, en ce coin du Poitou, il n’y a point de rivière, ni de source, du moins en apparence. Car tout se passe dans les profondeurs du sol. Alors il faut aller chercher l’eau précieuse là où elle est. Et creuser, creuser…
                </p>
                <p>
                    C’est pourquoi l’habitat de ce pays est assez dispersé. Les fermes se sont installées où il y avait de l’eau en suffisance, pour bêtes et gens. <br>
                    Mais comment savoir où creuser ? Je ne sais pas comment ils font en Afrique, mais au village c’était simple, on allait chercher Célina. Je me souviens encore de sa haute stature, de son visage hâlé plein de rides, de son air imposant. N’est pas sourcier qui veut. Elle savait trouver l’eau. Cueillir une branche de noisetier, c’était facile ! Des noisetiers, il y en avait tout le long des haies. Mais pouvoir indiquer sans erreur le parcours des rivières souterraines, quel mystère ! Et l’infaillibilité de Célina était bien précieuse, car il y avait de gros risques de pollution. Pas question de mettre un tas de fumier en amont du puits, si profond que soit celui-ci ! Pas question, même, de vider n’importe où les eaux usées. Le respect de l’eau était vital. Et une eau pareille méritait bien tous ces égards. Elle était si fraîche et limpide !
                </p>
                <p>
                    Le puits de mes grands-parents était le plus beau du village. Ce qui lui a valu d’être promu au rang de monument historique. Il orne désormais la place de la mare, où il sert de bac à fleurs, et de témoin d’une autre façon de vivre.
                </p>
                <p>
                    Son principal attrait pour moi était sa profondeur mystérieuse et son caractère sacré de pureté fragile à protéger sans cesse. Dix-huit mètres ! En se penchant sur la margelle, on apercevait l’eau comme un tout petit rond brillant, où la lumière se reflétait à peine à cause du toit arrondi, en zinc, qui protégeait le puits. <br>
                    Pour avoir cette eau mystérieuse et lointaine, on laissait glisser le seau jusqu’au fond, en freinant la descente à l’aide d’une courroie de cuir enroulée autour du treuil. Après ? Eh bien, il n’y avait plus qu’à tourner la manivelle, pour remonter le seau. Il fallait tourner longtemps… Puis, tout en maintenant la manivelle d’une main, attraper le seau de l’autre pour le poser sur la margelle de pierre.
                </p>
                <p>
                    Nous, les enfants, nous n’avions que le droit de regarder, et de loin, car il fallait une certaine force pour maintenir la manivelle, qui pouvait être dangereuse si on la laissait échapper. Et nous apprenions ainsi le respect de la vie.
                </p>  
                <p>
                    Respecter la vie, c’était respecter l’eau. Et tout était prévu pour éviter le gaspillage. Après avoir lavé les légumes, on laissait l’eau dans la cuvette, pour se laver les mains. Après quoi elle pouvait bien servir encore à laver le sol ou à nettoyer quelque outil. En hiver, c’était différent, on se lavait les mains dans la maison, où il y avait un évier, comme dans toutes les maisons du village. Par beau temps, nous préférions aller dehors, près du puits. Il n’y avait que trois pas à faire. Pourtant l’évier était une belle invention, qui faisait honneur à l’intelligence des hommes. Toutes les commodités de l’eau courante, à bien peu de frais ! Imaginez une sorte de niche aménagée dans l’épaisseur du mur – un mur d’au moins soixante centimètres, la maison est solide ! Un bel évier de pierre en pente douce vers l’extérieur. Un simple petit trou percé dans ce qui restait de mur, au fond de la niche, permettait à l’eau de couler dans la cour aux poules. <br>
                    Sur l’évier, un grand seau d’eau tirée du puits. Posée en travers du seau, la queussotte.
                </p>

                <figure>
                    <img src="{{asset('images/souvenirs/casserole.jpg')}}" alt="Vieille casserole" width="540">
                    <figcaption>photo Jacques Machefert, gardien du musée virtuel de Breuillet
                    </figcaption>
                </figure>

                <p>
                    Une merveille d’ingéniosité que l’on trouve un peu partout dans l’Ouest, là où l’eau douce est rare. J’en ai vu une dans l’île d’Oléron, dans une maison-musée, qui reste un témoin fidèle des coutumes du passé. En Périgord, on l’appelle cassotte. C’est d’ailleurs son vrai nom, authentifié par le Grand Larousse. Quoi qu’il en soit, queussotte ou cassotte, c’était une petite casserole d’étain avec une longue queue. Attrapant la queussotte par cette queue, on la plongeait dans le seau, on la reposait en travers du seau et, comme la queue était en somme un long tuyau de pipe, recourbé pour que l’eau ne gicle pas en tombant de trop haut, il n’y avait plus qu’à utiliser au mieux le mince filet d’eau, qui durait un bon moment. Avec un demi-litre d’eau, on pouvait largement se laver les mains, et très soigneusement. Mais pour nous trois, les enfants, une seule queussotte suffisait bien, au milieu des rires et des bousculades !
                    Et la toilette, me direz-vous ? Un broc d’eau. Une belle cuvette de faïence décorée, et un seau de toilette qu’on allait vider au jardin. L’eau était froide, mais c’est une habitude à prendre, et on ne s’en portait que mieux.
                    <br>
                    Pour le bain des enfants, on versait de l’eau chaude dans une grande bassine près du feu. L’été, l’eau était mise à chauffer au soleil, c’était un délice d’y barboter l’après-midi.
                </p>
                <p>
                    Quant à la lessive, c’était une grande affaire ! Tout au long de l’hiver, draps et torchons s’accumulaient sur un fil de fer, ou sur des tréteaux, dans la grange. Il fallait attendre Pâques pour la première grande lessive de l’année. Cela durait deux jours ! Le linge trempait dans la grande auge en pierre, alimentée par une citerne qui recueillait l’eau du toit. Une fois savonnée et bien frottée, chaque pièce était rangée bien en rond dans l’immense lessiveuse posée sur un petit fourneau de fonte. Deux ou trois seaux d’eau, une bonne quantité de copeaux de savon de Marseille, très tendre à couper, après avoir trempé dans l’eau toute la matinée. Il n’y avait alors plus qu’à entretenir un bon feu pour que ça arrose et à rentrer pour le déjeuner en attendant que cela soit fini.
                </p>
             <p>
                L’après-midi, c’était le rinçage. Dans la dernière eau, on mettait une boule de bleu, l’eau prenait une couleur de ciel d’été. Que c’était joli ! Le linge ainsi azuré paraissait plus blanc quand il claquait au vent dans le jardin. Mais on ne l’étendait que le lendemain. Il s’égouttait toute la nuit sur les tréteaux de bois, il séchait ainsi plus vite, profitant du soleil de midi, qui nous rendait le linge avec un parfum inégalable. Avec l’eau de la lessiveuse, le lessis, on lavait la couleur. Puis c’était la cérémonie du pliage. Chez grand-mère, c’était tout un art ! Un vrai pas de deux pour le pliage des draps, selon un rite immuable, chaque geste précis et efficace. Aussi quel résultat ! Pour les torchons, grand-mère n’avait pas besoin d’aide. D’un petit coup de main, elle remettait en forme les torchons un peu déformés au séchage. Puis elle les pliait, les attachait ensemble avec un ruban rose pâle, pour que les piles restent bien droites, dans la grande armoire de la salle. Et comme le feu fumait quelquefois, dernière coquetterie, elle protégeait chaque pile avec un torchon. Tout était net et propre. C’était très rassurant
             </p>

             <hr>

             <h2>LE FEU</h2>

             <img src="{{asset('images/souvenirs/toast.jpg')}}" alt="Toast" width="540">

             <p>
            </p> 
                Il peut sembler difficile à croire qu’on ait pu si bien vivre dans un village où il n’y avait ni eau courante, ni gaz, ni électricité. Pas de téléphone, pas de radio, – la TSF n’était encore qu’à ses débuts. Mais on chantait, souvent. Et grand-père, qui était un diseur merveilleux, faisait vivre pour nous quelque fable de La Fontaine, le soir, autour du feu, en attendant que les neuf coups de l’horloge donnent le signal du coucher. Du moins pour nous, les enfants. Les grandes personnes s’attardaient encore un peu, avant de couvrir de cendres les dernières braises.
               <p>
                Car tout se faisait sur la braise. Le bois ne manquait pas dans ce pays de bocage, où la forêt était partout. Et le boulanger du village pouvait fournir tout le monde en charbon de bois. Son four immense engloutissait chaque jour des fagots entiers ! Quels feux d’enfer ! Il n’y avait plus qu’à éteindre la braise, qui était prête à partir dans chaque maison, pour cuire la soupe et les haricots.
             </p>
             <p>
                Le matin, la cheminée suffisait. Chez nous, elle était immense, assez vaste pour brûler des bûches d’un mètre de long. Assez haute pour qu’on puisse accrocher à la crémaillère l’énorme chaudron noir de suie, ou la grande poêle de tôle. L’âtre était surélevé. Deux grands chenets supportaient les bûches. Et sur le côté, un petit réchaud à braises suffisait pour l’essentiel de la cuisine.
             </p>
             <p>
                Toujours premier levé, mon grand-père commençait sa journée avec deux tartines de fromage blanc – de chèvre, évidemment – une pour lui, l’autre pour la chatte, qui se contentait souvent de lécher le fromage et laissait le pain (je n’aurais jamais osé en faire autant !) Après quoi, grand-père allait chercher des branches de fagot, qu’il cassait sur son genou. C’est ce bruit familier qui me réveillait le matin. Doux craquement des brindilles, préparatifs pour la joie et le confort de tous… 
             </p>
             <p>
                J’entendais ensuite le pétillement du bois qui éclatait à la chaleur. Quand il y avait assez de braise, grand-père en mettait dans le petit fourneau sur le côté de l’âtre, ajoutait un peu de charbon de bois, et mettait à chauffer le lait dans la casserole de terre vernissée. Devant la flamme, le pot pour faire le café. Suivaient alors de grands bruits. Grand-père accrochait le chaudron à la crémaillère et le remplissait en y versant un ou deux seaux d’eau tirée du puits, pour la vaisselle quotidienne – car il n’y avait d’eau chaude que le matin.
             </p>
             <p>
                C’était le signal pour se lever. Quand l’eau serait chaude, il faudrait que le petit déjeuner soit terminé. Car des conditions de vie un peu difficiles imposaient une discipline, qui était source de paix. Pas de questions, de problèmes ni d’angoisses inutiles. Tout était clair et net. Celui qui n’était pas descendu à sept heures et demie n’avait plus de petit déjeuner ! Nous nous le tenions pour dit. Et nous étions là au complet, même si l’un ou l’autre d’entre nous finissait parfois de s’habiller en descendant l’escalier, s’arrêtant un instant derrière la porte pour mettre un dernier bouton et se présenter de façon correcte.
             </p>
             <p>
                La merveille de ces petits déjeuners, c’étaient les gueurlettes, déformation de grelettes, de grillettes - qui a donné aussi rillettes, si importantes en ce pays qu’on en mangeait au goûter, en alternance avec le fromage de chèvre. Gueurlettes dorées à point, immenses tartines grillées devant le feu, parfumées et fondantes ! Aucun grille-pain électrique ne peut faire une chose aussi exquise.
             </p>
             <p>
                Quand la vaisselle était faite, en été, on laissait mourir le feu, gardant la braise allumée pour le repas – en fait, pour les repas de la journée. Car on faisait cuire pour midi une vaste marmite de légumes, avec beaucoup de pommes de terre pour le déjeuner, le reste étant la soupe pour le soir.
             </p>
             <p>
                En hiver, c’était différent. Le feu restait allumé dans la cheminée. Mais comme la porte était sans cesse ouverte pour chercher de l’eau au puits, du bois dans la grange ou pour toute autre raison, c’était chaque fois un courant d’air glacé qui était aspiré par le grand feu de bois. Si bien qu’il fallait supporter de geler par-derrière et de griller par-devant !
             </p>
             <p>
                Mais le soir, une fois les grands volets fermés, la maison gardait bien sa chaleur, et qu’il y faisait bon ! Pour le repas, la suspension à pétrole était allumée. Mais pour la veillée, les flammes du feu suffisaient. Nous tirions les chaises autour de l’âtre et tout était paisible. Je regardais avec un peu d’inquiétude les ombres danser au plafond. Juste assez de frayeur pour apprécier davantage la sécurité d’un foyer heureux. Sous l’autorité tranquille de grand-mère et la protection attentive de grand-père, je n’avais rien à craindre !
             </p>
             <p>
                Le seul moment délicat était quand il s’agissait de sortir du cercle de lumière et de chaleur pour aller me coucher. Il fallait plonger dans l’obscurité et le froid de l’escalier, bougie à la main. Les bougeoirs étaient alignés sur la cheminée, chacun prenait le sien. Mais il fallait monter doucement : un geste trop vif, et le bougie s’éteignait. Il n’y avait plus qu’à redescendre à tâtons pour la rallumer ! Dans la chambre, je retrouvais la chaleur. Un simple parquet me séparait de la salle, il était tiède sous mes pieds nus. J’entendais le brouhaha des voix familières. Rien à craindre. Je n’avais qu’à souffler la bougie et escalader le lit. Quel lit ! Si haut avec son gros sommier et ses deux couettes de plume (Couette, cela se prononçait couatte, comme femme se prononce famme)(1). La mode en est revenue. Mais en ce temps-là on se couchait dessus, et on y faisait son trou. Plus question de bouger jusqu’au matin ! Les draps étaient un peu rugueux, en grosse toile de lin tissée à la main par l’aïeule. Comme couverture, un couvre-pieds piqué, garni de duvet, et encore un gros édredon. Vous comprenez sans peine qu’il était difficile de sortir de tant de douceur dans le froid du matin, et qu’il fallait bien, pour me décider, tous les bruits familiers des apprêts d’un délicieux petit déjeuner. <br>
                <p class="annotation">(1)   Ou plutôt, comme poêle se prononce pouale, et moëlle moualle</p>
             </p>

             <hr>

             <h2>LES TRAVAUX ET LES JEUX, AU FIL DES SAISONS</h2>

             <figure>
                <img src="{{asset('images/souvenirs/house-garden.jpg')}}" alt="Jardin" width="540">
                <figcaption>La partie gauche de la maison, et l’écurie. Le petit trottoir existe toujours</figcaption>
             </figure>

             <p>
                Travail ou jeu, n’était-ce pas la même chose ? Tout n’est-il pas source de rires et de bonheur quand rien ne vient troubler la sérénité des jours ?
                Je n’ai pas souvenir de m’être jamais ennuyée au village.
             </p>
             <p>
                Il y avait d’abord les travaux quotidiens.  <br>
                Dès le matin, débarrasser la table du petit déjeuner, aider à essuyer la vaisselle, et passer le chiffon sur les barreaux des chaises alignées le long du mur. C’était mon travail : il fallait frotter jusqu’à ce que cela brille ! La grande armoire en bois de châtaignier était hors de ma portée, mais les chaises étaient bien à ma hauteur. Terrible poussière venue de la cheminée : on la pourchassait avec des ailes d’oie, mises de côté au moment de Noël. Le plumail était idéal pour nettoyer l’âtre, rassembler la cendre qui avait volé partout. Pour nettoyer l’escalier aussi. C’était léger, propre – et cela ne coûtait rien.
             </p>
            <p>
                Chacun allait ensuite ranger sa chambre et faire son lit. Mettre au carré un lit fait d’un amoncellement de plumes et de duvet, ce n’était pas si simple ! Et grand-mère exigeait la perfection. Il n’était pas question de s’asseoir sur son lit dans la journée, encore moins de s’y coucher !
            </p>  

            <p>
                Après cela, nous allions aux provisions, mes frères et moi, d’une ferme à l’autre. Nous emportions des bouteilles pour le lait et, pour le fromage de chèvre, grand-mère mettait une petite assiette blanche dans un panier rond, avec deux pièces de monnaie. C’était un franc cinquante le fromage, trente sous. Je m’en souviens encore, ainsi que du rituel indispensable, marquant le respect dû à toute nourriture. La fermière ouvrait un garde-manger en grillage, en retirait une faisselle de terre vernissée, garnie d’une mousseline blanche. Elle dépliait cette mousseline avec précaution, façonnant le fromage d’une main experte puis, le dégageant bien des plis de l’étoffe, elle le renversait – juste au milieu de l’assiette. La surface restait marquée par la mousseline. C’était bien joli, et très appétissant. Un fromage suffisait pour la journée. On en mettait si peu sur les tartines ! Mais il avait tant de saveur que cela suffisait. <br>
                À notre retour, nous vidions les bouteilles de lait dans une grande casserole de terre, pour profiter de la braise encore chaude, avant qu’on ait besoin du fourneau pour le déjeuner. Quand le lait avait bouilli, on le portait au frais, il se couvrait alors d’une couche si épaisse de crème onctueuse que le déjeuner de gueurlettes devenait festin de roi.
            </p>
            <p>
                Dans la matinée, nous allions à la Coopérative. Les fermiers du village apportaient leur sacs de blé, et recevaient en échange des bons de pain. Pour mes grands-parents instituteurs qui ne récoltaient pas de blé, ce troc n’était pas possible. Ils achetaient donc leurs bons de pain. De trois livres, ou de cinq livres. Quand nous étions tous là, c’étaient toujours les gros pains de cinq livres. Vous pouvez imaginer la taille des tartines ! Munis de notre bon et d’un grand torchon blanc, nous allions donc à la boulangerie. C’était une jolie petite promenade. Nous empruntions le plus souvent un raccourci, minuscule sentier entre deux haies si hautes et si touffues qu’il y faisait très sombre. Cela devait être le passage favori de nombreuses chèvres, car le sol était jonché de ces petites crottes de bique, si rondes, noires et luisantes qu’on aurait dit des bonbons de réglisse. Mais quand il avait plu, le sentier était trop boueux et nous faisions le tour. La route contournait un haut talus d’herbe verte. Que c’était amusant de l’escalader, puis de dégringoler en courant l’autre versant, à une vitesse qui nous laissait essoufflés mais joyeux ! Ce jeu n’était possible qu’à l’aller. Il ne fallait pas prendre de risques avec le pain. Ce pain merveilleux, si odorant à sa sortie du four ! Il fallait quelquefois attendre un peu, le pain n’était pas encore cuit à point. Nous avions le temps de voir le pétrin en bois, le four, et le boulanger qui s’affairait devant avec sa longue pelle. Il nous donnait enfin une miche brûlante, un peu noircie en dessous par le charbon. Le grand torchon était bien utile.
            </p>
            <p>
                Les recettes de grand-mère étaient fameuses. Elle savait affiner les fromages de chèvre entre des feuilles de châtaignier. Deux feuilles dessus, deux feuilles dessous. Le lendemain, elle retournait le fromage en renouvelant les feuilles quand elles devenaient trop humides. Au bout d’une dizaine de jours, quel régal ! La plus grande difficulté était d’empêcher les mouches de se régaler avant nous. Un garde-manger de fin grillage était une protection efficace, répondant aux deux conditions indispensables de réussite : de l’air, et pas de froid. Nos frigidaires sont des catastrophes gastronomiques !
            </p>
            <p>
                Grand-mère savait aussi faire les rillons, les rillettes, elle savait préparer le foie gras, et tant d’autres choses ! Mais les rillettes étaient son triomphe. Elle achetait les meilleurs morceaux. Des côtes, en général. Tout le monde s’y mettait, car il s’agissait de couper toute la viande en petits dés. Quel était le secret de grand-mère pour parfumer ses rillettes ? Des herbes, sûrement. Du laurier sans doute. Peut-être du cognac… Un juste dosage des proportions de chair et de graisse. Le réglage du feu était essentiel. Il fallait tourner sans cesse, et surveiller. La viande devait être légèrement grillée, fondante. Elle s’écrasait facilement sous la fourchette. Il n’y avait plus qu’à remplir les pots de grès, à laisser refroidir et à recouvrir d’une couche de graisse. Ces rillettes se conservaient facilement plusieurs mois. Nous en mangions en tartines pour le goûter. Sinon elles accompagnaient toujours les mogettes, ces délicieux haricots de Vendée. Ou bien elles se retrouvaient mêlées aux quatre herbes : épinards, oseille, bette et salade, pour farcir des choux.
            </p>
            <p>
                Les placards de grand-mère abritaient mille trésors : les confitures, le vin de cassis, la liqueur de coing. Et le tilleul que l’on avait cueilli au début de l’été. Le séchage se faisait selon des rites immuables : de l’air, pas de lumière. Les fleurs étaient étendues sur de grands papiers dans une chambre dont les volets clos laissaient passer la brise d’été. Tous les jours, il fallait retourner délicatement les fleurs. Quel parfum dans la chambre !
            </p>
            <p>
                Grand-mère connaissait bien les plantes sauvages de son jardin. Elle utilisait les bienfaits de la bourrache et du chiendent. Et naturellement, elle avait dans son armoire un flacon d’alcool où macéraient des pétales de lis blanc, pour soigner les petites blessures.
            </p>
            <p>
                Quand venait l’automne, on gaulait les noix, dont une bonne partie allait à l’huilerie. Qu’elles étaient bonnes, les salades de grand-mère ! <br>
                Les travaux se poursuivaient sans nous, après les vacances. Grand-père récoltait son raisin. Ses deux rangs de vigne donnaient une piquette, un petit vin léger dont je ne saurais rien dire. L’eau du puits était si bonne qu’il n’était pas nécessaire d’y ajouter du vin. Nécessaire ? Pourquoi ? direz-vous. Eh bien, en ville il y avait des risques de typhoïde, surtout en périodes de crues de la Loire. Les enfants buvaient de l’eau rougie – avec le vin -, dès le plus jeune âge. Vous voyez que tout n’était pas forcément mieux dans le passé…
            </p>

            <hr>
    
            <h2>EPILOGUE</h2>

            <img src="{{asset('images/souvenirs/street.jpg')}}" alt="Vielle rue" width="540">
            
             <p>
                Tel qu’il était, j’aimais ce village. Sans doute, il n’avait rien d’extraordinaire. Point de lac, ni de rivière. Des forêts, certes, mais pleines de fourrés inextricables, de ronces et de vipères. Il était même plutôt sale, car les chemins étaient boueux après la pluie, et les animaux laissaient maintes traces de leur passage. Aussi bien les vaches que les chèvres ou les moutons. Mais quoi, un village est un village. Et celui-là était si plein de vie. Et j’y étais si bien !...
             </p>  
             <p>
                Les années ont passé sur lui comme sur tout être vivant, apportant bien des changements. Grand-père eut une voiture, une 6 CV qui filait à quarante-cinq à l’heure. Elle pouvait même atteindre les cinquante dans les lignes droites ! Plus de carriole ni de charrette. Plus de tortillard. Il fut remplacé par une micheline beaucoup plus rapide, dont l’appel retentissait à travers la campagne comme le cri de je ne sais quel animal d’avant le Déluge.
             </p>
             <p>
                L’électricité fit son apparition. Grand-mère était pour le progrès. La maison fut une des premières à s’illuminer le soir. C’était moins poétique, mais tout de même plus pratique. Puis vinrent la TSF, le butane. Et une magnifique cuisinière qui sonna la retraite pour le vieux réchaud à charbon de bois.
             </p>
             <p>
                Au cours d’un hiver, le vent se fit glacé, quelques flocons de neige apparurent. C’est très rare, si près de l’Océan… Le grenadier n’eut pas de fleurs, au printemps suivant… <br>
                Puis ce fut le bananier. Plusieurs hivers trop froids. Il renonça à survivre, et fut remplacé par un marronnier. Soixante années ont passé, le marronnier est superbe aujourd’hui.
             </p>
             
             <figure>
                <img src="{{asset('images/souvenirs/entree.jpg')}}" alt="Entrée de maison" width="540">
                <figcaption>Le marronnier. La grille posée par grand-père
                </figcaption>
            </figure>

            <p>
                À la fin de l’été 38, c’est grand-père qui nous quitta. Alors tout fut différent. Plus de poules, plus de vignes. Les grands feux n’étaient plus allumés dans l’âtre, chaque matin… <br>
                Le grand noyer fut frappé par la foudre.
            </p>
            <p>
                Et ce fut la guerre. Un matin de Juin, un détachement de jeunes Prussiens blonds aux yeux clairs s’installa pour quelques jours dans le village. Le seul souvenir qui m’en reste est le scandale qu’ils provoquèrent en prenant des bains dans les grandes lessiveuses. Personne n’avait jamais vu une chose pareille ! Il faut avouer que, dans le coin, il n’est pas dans les habitudes d’utiliser tant d’eau pour un être humain. Un verre peut suffire ! Non, ce sont les mauvaises langues qui disent cela. Mais un broc, certes oui, cela peut suffire pour se sentir propre, si on se débrouille bien.
            </p>
            <p>
                Avec l’Occupation, il y eut le rationnement. Grand-mère ne put jamais comprendre pourquoi les épiciers qu’elle connaissait depuis son enfance lui refusaient du beurre. Un non-sens, évidemment, dans un des départements de France où il y a le plus de laiteries ! Ce fut un tel choc pour elle qu’elle tomba malade, et mourut au cœur de ce terrible hiver 40-41, sans doute le plus froid que j’aie connu.
            </p>
            <p>
                Dès lors, mes séjours au village se firent de plus en plus rares. La maison fut vendue à la commune. Des Deux-Sèvres je gardais la nostalgie, dans le Jura où je suis depuis bien longtemps. Je rêvais de revoir le pays, les cousins qui sont toujours là-bas… <br>
                Passant non loin de là, le printemps dernier, je fis le détour, prête à affronter la réalité. Ce fut un choc !
            </p>

            <img src="{{asset('images/souvenirs/place.jpg')}}" alt="Place et maison" width="540">

            <p>
                Est-ce encore un village ? Oh, les routes sont propres ! Bien goudronnées. Pas une seule bouse de vache. Il y a de bonnes raisons pour cela : plus une seule bête au village ! Je n’ai pas même vu un chat s’enfuir à mon approche. Quant à la mare, quelle surprise ! De loin, on croirait qu’elle existe toujours. La murette est bien entretenue tout autour. Une belle eau verte, comme jadis. Mais non, ce ne sont pas des algues, ni de la mousse. C’est du gazon ! la mare est devenue jardin ! Un magnifique jardin avec de très jolis arbres.
            </p>
            
             <figure>
                <img src="{{asset('images/souvenirs/entree.jpg')}}" alt="Entrée de maison" width="540">
                <figcaption>Dans la mare !
                </figcaption>
            </figure>

            <p>
                De l’autre côté, l’église se révèle dans toute sa splendeur originelle. Les travaux ne sont pas terminés, des échafaudages la cachent encore en partie. <br>
                Le clocher est merveilleusement ciselé.
            </p>

            <img src="{{asset('images/souvenirs/cloche.jpg')}}" alt="Cloché" width="540">
            
            <p>
                Et tout près, sur l’esplanade, le cher vieux puits semble heureux de son sort.
            </p>
            
            <img src="{{asset('images/souvenirs/puits.jpg')}}" alt="Image de puits" width="440">

            <p>
                Il n’est plus source d’eau vive, soit ! Mais quoi, servir de cachette aux enfants, c’est amusant, pour un si vieux puits. Alors, plein d’indulgence attendrie, il se fait le complice de ces jeux qui sont encore la vie. <br>
                Car la vie, il y en a bien peu. Le décor est superbe. Un vrai village pour touristes. Mais pas âme qui vive. Où sont les villageois ? les enfants ? Je parcours en voiture tous les chemins. Voici la poste, ce n’est plus une poste.
            </p>
        
            <figure>
                <img src="{{asset('images/souvenirs/garden3.jpg')}}" alt="Personne dans un jardin" width="540">
                <figcaption>La mare, l’esplanade, et ce qui fut la Poste </figcaption>
            </figure>
            
            <p>Une épicerie, je la reconnais bien ! Mais non, c’est une habitation. Partout de jolies façades blanches, et personne.</p>
            
            <figure>
                <img src="{{asset('images/souvenirs/tree-street.jpg')}}" alt="Arbre et rue" width="540">
                <figcaption>C’est une ferme… sans animaux. Un arbre minuscule, et derrière commence la vaste plaine nue
                </figcaption>
            </figure>
            
            <p>Voici la maison. J’ose à peine approcher. Comme c’est étrange ! Des travaux d’embellissement sont prévus ici aussi. Mais il semble que le temps ait « suspendu son vol », que les choses aient attendu ma venue avant de disparaître. En quel état, Seigneur ! Mais toujours debout. Le mur de clôture, le four et la forge tombent en ruines.</p>
            
            <div class="street-pics">
                <figure>
                    <img src="{{asset('images/souvenirs/street-wall.jpg')}}" alt="Vieux mur" width="540">
                    <figcaption>   Rue de la Plume-Jauderie</figcaption>
                </figure>
                <figure>
                    <img src="{{asset('images/souvenirs/old-wall.jpg')}}" alt="Vieux mur" width="320">
                    <figcaption>   Ce qui reste du four
                        Chères ruines qui attendaient mon retour… Le maire a sans doute déjà réalisé aujourd’hui son projet de raser cela pour en faire un parking
                    </figcaption>
                </figure>                
            </div>
            
            <p>Mais ils sont toujours là pour m’accueillir, comme les cousins dans la maison d’en face.
            </p>
                    <figure>
                        <img src="{{asset('images/souvenirs/old-man.jpg')}}" alt="Vieil homme" width="520">
                        <figcaption>  Devant le bâtiment qui fut la forge, le cousin Marc, qui revient de son garage
                        </figcaption>
                    </figure>        
                    
                    <p>
                        Cela me fait chaud au cœur. Un demi-siècle est aboli… <br>
                        Mais ce n’est qu’une illusion fugitive. Car le pays tout entier a changé. Le remembrement a fait des ravages. Plus de haies, il fallait du rendement. Comment vit-on ici, désormais ? Les voitures circulent trop vite sur les petites routes de campagne. Il le faut bien. Il faut chercher du travail au bourg voisin. Si j’ai bien compris, le village est devenu une élégante cité-dortoir. Peut-être un village-musée pour les touristes ? Aucune trace de vie. Silence total. Pas même le chant d’un coq. Silence qui m’inquiète et me laisse songeuse. N’est-ce pas les morts que l’on s’efforce d’embellir pour leur entrée dans l’éternité ?
                    </p>
                    
                    <figure>
                        <img src="{{asset('images/souvenirs/old-build.jpg')}}" alt="Bieux Cloché" width="520">
                        <figcaption> Le monument aux morts… Y a-t-il encore des vivants ?</figcaption>
                    </figure>        
                    
                    <p>
                        Cher village, mon village, dis-moi, vis-tu encore autrement que dans mon cœur ?
                    </p>

                    <hr>
                    <span>Dole, mars 1995</span>

                    <h4>Paulette Nurdin</h4>
</div>


{% endblock %}
