{% extends 'base.html.twig' %}

{% block title %}Pages feuilletées{% endblock %}

{% block pageTitle %} Pour me contacter{% endblock %}

{% block body %}


<div class="wrapper form">

    <div class="index-notif">
        {% for msg in app.flashes('success') %}
          <p class="alert-success"><i class="fa fas-check"></i> {{msg}}</p>
        {% endfor %}
      </div> 

    {# <form action="">
        <label for="Nom">Votre Nom</label>
        <input type="text" name="" placeholder="Nom" id="nom">
        <label for="Nom">Votre Email</label>
        <input type="email" name="" placeholder="Email" id="nom">
        <label for="Message">Votre Message</label>
        <textarea name="" id="" cols="30" rows="10" placeholder="Message"></textarea>
        {# <textarea id="mytextarea">Hello, World!</textarea> #}
        {# <button type="submit">Envoyer</button> #}
    {# </form>  #}

    {{form_start(form)}}
            {{form_row(form.name)}}
            {{form_row(form.email)}}
            {{form_row(form.message)}}
        <button type="submit">Envoyer</button>
    {{form_end(form)}}
    
</div>


{% endblock %}
