{% extends 'base.html.twig' %}

{% block title %}Pages feuilletées{% endblock %}

{% block pageTitle %} Pour me contacter{% endblock %}

{% block body %}


<div class="wrapper form">

    <div class="index-notif">
        {% for msg in app.flashes('success') %}
          <p class="alert-success"><i class="fa fas-check"></i> {{msg}}</p>
        {% endfor %}
      </div> 

    {{form_start(form)}}
            {{form_row(form.name)}}
            {{form_row(form.email)}}
            {{form_row(form.message)}}
        <button type="submit">Envoyer</button>
    {{form_end(form)}}
    
</div>


{% endblock %}
