<!DOCTYPE html>
<html>
    <head>
        <meta charset="UTF-8">
        <title>{% block title %}Pages Feuilletées{% endblock %}</title>
        <link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.6.3/css/all.css">
        <link href="https://fonts.googleapis.com/css2?family=Dancing+Script&display=swap" rel="stylesheet"> 
        <link rel="stylesheet" href="{{asset('css/style.css')}}">
        <link href="https://fonts.googleapis.com/css2?family=Raleway:wght@500&display=swap" rel="stylesheet"> 

        {% block stylesheets %}{% endblock %}
    </head>
    <body>
        <aside>
            <nav>
                <ul>
                    <li>
                        <a href="{{path('home')}}">Accueil</a>
                    </li>
                    <li>
                        <a href="{{path('pages-feuilletées')}}">Pages Feuilletées</a>
                    </li>
                    <li>
                        <a href="{{path('poemes')}}">Poèmes de mon oncle</a>
                    </li>
                    <li>
                        <a href="{{path('mémoires')}}">Mémoires de mon Père</a>
                    </li>
                    <li>
                        <a href="{{path('souvenirs')}}">Souvenirs de ma mère</a>
                    </li>
                    <li>
                        <a href="{{path('rouviere')}}">JB Rouvière</a>
                    </li>
                    <li>
                        <a href="{{path('liens')}}">Mes liens favoris</a>
                    </li>
                    <li>
                        <a href="{{path('contact')}}">Contact</a>
                    </li>
               
                </ul>

                <span id="burger">
                        <i class=""></i>
                </span>
            </nav>
        </aside>
        <div class="container">
            <h1 id="main-title"> {% block pageTitle %}  </h1>
            {% endblock %}
            {# <img src="{{asset('images/flower.png')}}" alt="">  #}
        </h1>
            {% block body %}{% endblock %}
        </div>

        {% block javascripts %}{% endblock %}
         <script src="{{asset('js/menu.js')}}"></script>
    </body>
</html>
